<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు</title>
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="styles-home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@100&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
</head>

<body>


    <div>
        <nav class="navbar navbar-expand-lg na">
            <img class="logo" src="logo.png" alt="telugu" id="logo">
            <div class="navbar-header">
                <a class="navbar-brand n" href="#">అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex flex-col sticky-top ms-auto ">
                    <li class="nav-item home-li">
                        <a class="nav-link" href="/2023">2023</a>
                    </li>
                    <li class="nav-item home-li">
                        <a class="nav-link" href="/2024">2024</a>
                    </li>
                    <li class="nav-item home-li">
                        <a class="nav-link" href="/2025">2025</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div style="height: 80vh;" class="hide-avvaku">
        <div class="row">
            <div class="col-lg-6 event_cards1">
                <center><button style="position: relative;top:40%;width:50%;height: 70px;font-size: larger;"
                        class="btn btn-warning"><a href="/2023-main" style="text-decoration: none;color: black;">అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు -2023</a></button></center>
            </div>
            <div class="col-lg-6 event_cards2">
                <center>
                    <button style="position: relative;top:40%;width:50%;height: 20%;font-size: larger;"
                        class="btn btn-warning"><a href="/2023-mid" style="text-decoration: none;color: black;">అంతర్జాతీయ తెలుగు పరిశోధనా సమావేశాలు -2023</a></button>
                </center>
            </div>

        </div>
    </div>
    <div style="height: 80vh;" class="hide-ayipo">
        <div class="row">
            <div class="col-lg-6 event_cards11">
                <center><button style="position: relative;top:40%;width:50%;height: 20%;font-size: larger;"
                        class="btn btn-warning"><a href="/2023-main" style="text-decoration: none;color: black;width:80%">అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు -2023</a></button></center>
            </div>
            <div class="col-lg-6 event_cards22">
                <center>
                    <button style="position: relative;top:40%;width:50%;height: 20%;font-size: larger;"
                        class="btn btn-warning"><a href="/2023-mid" style="text-decoration: none;color: black;width:80% !important">అంతర్జాతీయ తెలుగు పరిశోధనా సమావేశాలు -2023</a></button>
                </center>
            </div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


</body>

</html>