<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు</title>
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <!-- navbar starting -->
    <nav class="navbar navbar-expand-lg na">
        <img class="logo" src="logo.png" alt="telugu" id="logo">
        <a class="navbar-brand n" href="#">అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav d-flex flex-col sticky-top ms-auto ">
               <li class="nav-item i">
                   <a class="nav-link" href="#home">హోమ్</a> 
               </li>
               <li class="nav-item i">
                   <a class="nav-link" href="#timeline">కారయక్రమం టూకీగ</a> 
               </li>
               <li class="nav-item i">
                   <a class="nav-link" href="#team">కార్యవర్గం</a> 
               </li>
               <li class="nav-item i">
                   <a class="nav-link" href="#reg">పాల్గోడానికి నామోడు</a> 
               </li>
               <li class="nav-item i">
                   <a class="nav-link" id="change" href="#contact">సంప్రదించండి</a> 
               </li>
 
             </ul>
          </div>
       </nav>
       <!-- navbar ending -->
       <!-- img display -->
       <div class="pos">
        <img src="title.png" id="titlei" alt="andhra university">
        <img style="max-height: 220px;" src="bposter.jpg" alt="">
       </div>
      <!-- home -->
      <div style="background-color: rgb(242, 242, 63);" class="ellow" id="home">
        <div class="all_heads">
            <center><h1 style="color: red; font-weight: 600;">తెలుగు విభాగం</h1></center>
            <center><h1 style="color: rgb(77, 176, 247); font-weight: 550;text-shadow: 2px 2px 3px black;">ఆంధ్ర విశ్వకళాపరిషత్</h1></center>
            <center><h3 style="color:blue; font-weight:550">విశాఖపట్టణం, ఆంధ్ర ప్రదేశ్</h3></center> 
            <center><h2 style="color:brown; font-weight:550">అంతర్జాతీయ తెలుగు భాషా దినోత్సవాలు</h2></center>
            <center><h3 style="color:blue; font-weight:550">ఫిబ్రవరి 21 & 22, 2023</h3></center>
        </div>
    
        <center>
            <div class="hj">
                ఆచార్యులకు, అధ్యాపకులకు, ఉపాధ్యాయులకు, పరిశోధకులకు, తెలుగు సాహిత్యాభిమానులకు నమస్సులు.
            ఆంధ్ర విశ్వకళాపరిషత్, తెలుగు విభాగం మరియు సమైక్య భారతి సంయుక్త ఆధ్వర్యంలో ఫిబ్రవరి 21 & 22, 2023 తేదీలలో అంతర్జాతీయ 
            తెలుగు భాషా దినోత్సవాలను నిర్వహిస్తున్నాం.
            </div>
        </center>
        <div class="jh">
        <center><h5 style="font-weight: 600;padding: 1%;display: inline-block;background-color: orange;border-radius: 10px;">తెలుగుశాఖ - ఆంధ్రవిశ్వ కళాపరిషత్</h5></center>
        
        <span class="ho" >
          <li>1926లో కట్టమంచి రామలింగారెడ్డి గారి ఆధ్వర్యంలో ఆంధ్రవిశ్వ కళాపరిషత్ ఆవిర్భ వించింది.</li>
          <li>‘తెలుగు శాఖ’1926లో ఆంధ్రవిశ్వ కళాపరిషత్ స్థాపనతోనే ప్రారంభమైంది.ఆంధ్రవిశ్వకళాపరిషత్ తెలుగుశాఖ ఆంధ్రదేశంలోని అన్ని విశ్వవిద్యాలయాలలోని తెలుగుశాఖల కంటే ప్రాచీనమైంది.</li>
          <li>ఆంధ్రవిశ్వ కళాపరిషత్ ముచ్చటగా మూడు శాఖలతో ప్రారంభమైతే అందులో ఒకటి తెలుగు శాఖ.</li> 
          <li>బొబ్బిలి సంస్థానాధిపతి శ్రీ రావు వేంకటశ్వేతా చలపతి రంగారావు గారు సంస్కృతాంధ్ర భాషల అధ్యయనానికి లక్షరూపాయల భూరి విరాళం ఇవ్వాలని నిశ్చయించారు.</li>
          <li>ఆ విధంగా తెలుగు శాఖ ప్రారంభమయింది.ఆంధ్ర సాహిత్య చరిత్రని అక్షరబద్దం చేసిన ఆచార్య పింగళి లక్ష్మీకాంతం తెలుగు శాఖకు ప్రారంభ అధ్యక్షులు.</li>
          <li>ఆంధ్రవిశ్వ కళాపరిషత్ తెలుగు శాఖ ఎంతో మంది ప్రతిభావంతుల్ని అందించిన గొప్ప శాఖ.</li>
          <li>ఆచార్య కె.వి.ఆర్.నరసింహం, ఆచార్య కొత్తపల్లి వీరభద్రరావు, ఆచార్య గంటి జోగిసోమయాజి, ఆచార్య తుమాటి దొణప్ప, ఆచార్య యస్.వి.జోగారావు, ఆచార్య కొర్లపాటి శ్రీరామమూర్తి, ఆచార్య లకంసాని చక్రధరరావు, ఆచార్య భద్రిరాజు కృష్ణమూర్తి, ఆచార్య దివాకర్ల వేంకటావధాని,ఆచార్య బొడ్డుపల్లి పురుషోత్తం మొదలైన పరిశోధక పండితుల్ని అందించిన శాఖవఝుల చిన సీతారామశాస్త్రి,దువ్వూరి వేంకటరమణ శాస్త్రి, ఆచార్య గంటి జోగి సోమయాజులు గార్లు కళాపూర్ణ బిరుదులు పొందారు.</li>
          <li>ఆచార్య యస్.వి.జోగారావు, ఆచార్య కొర్లపాటి శ్రీరామమూర్తి, ఆచార్య తూమాటి దొణప్ప, ఆచార్య పి.ఎస్.సుబ్రహ్మణ్యం,ఆచార్య ఎం.జయదేవ్ గార్లు డి.లిట్ పట్టాలు పొందారు. </li>
          <li>ఆచార్య కె.వి.ఆర్.నరసింహం, ఆచార్య గంటిజోగి సోమయాజులగార్లు కేంద్ర సాహిత్య అకాడమీ అవార్డు గ్రహీతలు. </li>
          <li>పైన పేర్కొన్న వారే కాక గతంలో శాఖలో పనిచేసిన, ప్రస్తుతం పనిచేస్తున్న మరికొంతమంది ఆచార్యులు ఇతరత్రా ఎన్నో అవార్డులు, బిరుదులు పొందారు ఇది తెలుగుశాఖకే ఎంతో గౌరవం.</li>
          <li>ఆంధ్రవిశ్వ కళాపరిషత్ తెలుగు శాఖలో పూర్వ విద్యార్థులు ఆచార్య తూమాటి దొణప్ప (పొట్టి శ్రీరాములు తెలుగు విశ్వవిద్యాలయం, హైదరాబాద్) ఆచార్య భద్రిరాజు కృష్ణమూర్తి (కేంద్రీయ విశ్వవిద్యాలయం, హైదరాబాద్) ఆచార్య నాయని కృష్ణకుమారి (పొట్టి శ్రీరాములు తెలుగు విశ్వవిద్యాలయం, హైదరాబాద్),ఆచార్య కొలకలూరి ఇనాక్ (శ్రీ వెంకటేశ్వర విశ్వవిద్యాలయం, తిరుపతి) గార్లు రాష్ట్రంలోని విశ్వవిద్యాలయాలకు ఉపాధ్యక్షులుగా బాధ్యతలు నిర్వహాంంచారు.</li>
          <li>ప్రస్తుతం ఆచార్య జర్రా అప్పారావు శాఖాధ్యక్షులు వ్యవహరిస్తున్నారు . తెలుగుశాఖ నుండే ‘ఆంధ్ర సాహితి' అనే త్రైమాసిక పరిశోధన పత్రిక ప్రచురణ చేస్తూ ఉండటం మరో గొప్ప ప్రత్యేక విషయం.అంతర్జాతీయ మాతృభాషా దినోత్సవాన్ని పురస్కరించుకొని ఆంధ్ర విశ్వకళాపరిషత్ తెలుగు విభాగం మరియు సమైక్య భారతి సంయుక్త ఆధ్వర్యం లో ఫిబ్రవరి 21 & 22, 2023 తేదీలలో అంతర్జాతీయ తెలుగు భాష దినోత్సవాలు నిర్వహించాలని సంకల్పించాం .</li>
          <li>ప్రస్తుతం ప్రపంచీకరణ నేపథ్యంలో మాతృ భాషను మరింత సుస్థిర పరిచేందుకు ఇటువంటి సదస్సులు అత్యంతా వశ్యకం.</li>
          <li>అత్యంత శరవేగంగా అభివృద్ధి చెందుతున్న శాస్త్ర సాంకేతిక రంగాలను తెలుగు భాష సాహిత్యాలకు ఉపకారణాలుగా గుర్తించవలసిన ఆవశ్యకతను విశదీకరించటమే ఈ సదస్సు లక్ష్యం.</li>
          <li>పాత కొత్త ల మేలి కలయికగా ప్రాచీన సాహిత్యం నుండి నేటి సీనీ సాహిత్యం వరకు తెలుగు భాషా సాహిత్యాలలో పరిణామ క్రమం తద్వారా సాంస్కృతిక పరిణామక్రమం స్పష్టీకరణకు ఈ సదస్సు దోహదపడుతుందని భావిస్తున్నాం.</li>
          <li>ఈ క్రమం లో ఆచార్యులు అధ్యాపకులు ఉపాధ్యాయులు పరిశోధకులు స్నాతకోత్తర విద్యార్థులు, తెలుగు భాషా సాహిత్యాభిమానులు ఈ సదస్సు లో పాల్గొని విజయవంతం చేయగలరని ఆశిస్తున్నాం.</li>
          <li>అదే విధంగా తెలుగు మాతృ భాషా వైభవానికి సంబంధించి ప్రామాణికమైన పరిశోధన పత్రాలను ఫిబ్రవరి 15 లోపు auteluguseminar@gmail.com అనే మెయిల్ ఐడి పంపగలరు.</li>
        </span>
        </div>
        <center><p><span style="font-weight:600">అంశం : </span><span style="color:red;font-weight: 600;" class="penchu">అంతర్జాతీయ తెలుగు భాషా ప్రాసశ్యం</span></p></center>
        <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-2 upa">
                <p style="font-weight: 550;">ఉప అంశాలు:</p> 
            </div>
            <div style="color:rgb(250, 0, 242);font-weight: 550;line-height: 2;" class="col-lg-7 col-md-8 col-sm-10">
                1. ప్రాచీన సాహిత్య భాషా విశేషాంశాలు<br>
                2. ఆధునిక సాహిత్య భాషా విశేషాంశాలు<br>
                3. జాతీయ సంగీతం / గేయం / గజల్స్ / పద్యపఠనం<br>
                4. పొడుపు కథలు, సామెతలు, భాషానుశీలన<br>
                5. తెలుగు జానపద / గిరిజన / బాల సాహిత్య అంశాలు<br>
                6. తెలుగు భాషా పరిశోధన పోకడలు<br>
                7. తెలుగు భాష అంతర్జాల వినియోగం ఉపాధి అవకాశాలు<br>
                8. తెలుగు భాషా బోధన శాస్త్రీయ దృక్పథం<br>
                9. తెలుగు ప్రసార మాధ్యమాలు<br>
                10. తెలుగు పుస్తక ప్రచురణ<br>
                11. విదేశాలలో భాషా బోధన సంస్కృతుల వ్యాప్తి<br>
                12. తెలుగు భాషా పరిరక్షణ ఆవశ్యకత<br>
                <span style="color: blue;">మొదలైన అంశాలపై పరిశోధనా పత్రాలు సమర్పించవచ్చు.</span>
            </div>
        </div>
        <div class="row kj">
          <div class="col-lg-4">
            <center><span style="color: red;font-weight: 600;"> డా. మూర్తి రేమిళ్ల</span><br><p style="font-weight: 550;">గౌరవ జాతీయ అధ్యక్షులు, సమైఖ్య భారతి</p>.</center> 
          </div>
          <div class="col-lg-4">
            <center><span style="color: red;font-weight: 600;">శ్రీ పి. కన్నయ్య </span><br><p style="font-weight: 550;">జాతీయ ప్రధాన కార్యదర్శి, సమైఖ్య భారతి.</p></center> 
          </div>
          <div class="col-lg-4">
             <center><span style="color: red;font-weight: 600;">ఆచార్య జర్రి</span> <br><p style="font-weight: 550;">అప్పారావు శాఖాధిపతి, తెలుగు విభాగం, ఆంధ్ర విశ్వకళాపరిషత్, విశాఖపట్నం.</p></center>
          </div>
        </div>
        <div class="dne">
            <center><h6 style="color:darkblue;display: inline-block;font-weight:550;border-bottom:2px solid darkblue">నిర్వహణ కమిటి :</h6></center>
            <center style="color:brown;font-weight:550;line-height: 2;word-spacing: 5px;">ఆచార్య జర్రా అప్పారావు, ఆచార్య జి. యోహాన్ బాబు, ఆచార్య వి. సిమ్మన్న డా॥. అయ్యగారి సీతారత్నం,
                డా॥. అన్నంశెట్టి ఈశ్వరమ్మ, డా॥. బూసి వెంకటస్వామి, డా॥. కట్టెపోగు రత్న శేఖర్, డా॥. పెండ్యాల లావణ్య, శ్రీఆతుకూరి వెంకటేశ్వర్లు (యోగి), మరియు బోధనేతర సిబ్బంది,
                పరిశోధక విద్యార్థులు, స్నాతకోత్తర విద్యార్థులు</center>
        </div>
        
    </div>
       <!-- carousels -->
       <!-- mobilecarousel -->
       <div class="carouselmob">
        <section id="testimonials">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="dog" src="thalli.jpg" alt="dog-profile">
                   <h1>తెలుగు తల్లి</h1>
                  <p>సాహిత్యపరంగా తెలుగుతల్లి అంటే తెలుగు ప్రజల అమ్మగా చిత్రీకరించబడిన, ప్రజామోదం పొందిన చిహ్నం.
                  </p>
           
                </div>
                <div class="carousel-item">
                  <img class="dog" src="nannayya.jpg" alt="lady-profile">
                  <h1>నన్నయ్య</h1>
                 <p class="testimonial-text">నన్నయ భట్టారకుడు(సా.శ.11వ శతాబ్ది) తెలుగు సాహిత్యంలో ’’’ఆదికవి’’’గా ప్రఖ్యాతుడయ్యాడు.</p>
           
                </div>
                <div class="carousel-item">
                  <img class="dog" src="thikkana.jpg" alt="dog-profile">
                  <h1>తిక్కన</h1>
                  <p>తిక్కన లేదా తిక్కన సోమయాజి.కవిత్రయములో తిక్కనది నాటకీయ శైలి, సంభాషణాత్మక శైలి. అతనికి "కవి బ్రహ్మ", "ఉభయ కవిమిత్రుడు" అనే బిరుదులు ఉన్నాయి.</p>
           
                </div>
                <div class="carousel-item">
                  <img class="dog" src="sri.jpg" alt="dog-profile">
                  <h1>శ్రీ శ్రీ</h1>
                  <p>శ్రీశ్రీ అని పిలవబడే శ్రీరంగం శ్రీనివాసరావు ప్రముఖ తెలుగు కవి. విప్లవ కవిగా, సాంప్రదాయ, ఛందోబద్ధ కవిత్వాన్ని ధిక్కరించినవాడిగా,సినిమా పాటల రచయితగా ప్రసిద్ధుడు.</p>
           
                </div>
                <div class="carousel-item">
                  <img class="dog" src="alsani.jpeg" alt="dog-profile">
                  <h1>అల్లసాని</h1>
                  <p>ఆంధ్ర కవితా పితామహునిగా పేరుగాంచిన అల్లసాని పెద్దన గారు. సంస్కృతాంధ్ర కవిత్వం ఎలా ఉండవలెను అని ఒక ఉత్పలమాల ఆశువుగా చెప్పి రాయల చేత సన్మానం గండపెండేరం తొడిగించుకున్నవాడు.</p>
           
                </div>
             
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div>    
            </div>
          </section>
       </div>

       <!-- pccarousel -->
       <div class="carouselpc">
        <div class="parent">
            <div class="car">
              <div class="car__nav">
               <span id="moveLeft" class="car__arrow">
                    <svg class="car__icon" width="24" height="24" viewBox="0 0 24 24">
                <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
            </svg>
                </span>
                <span id="moveRight" class="car__arrow" >
                  <svg class="car__icon"  width="24" height="24" viewBox="0 0 24 24">
              <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
            </svg>    
                </span>
              </div>
              <div class="car-item car-item--1">
                <div class="car-item__image"></div>
                <div class="car-item__info">
                  <div class="car-item__container">
                  <h1 class="car-item__title">తెలుగు దేవత</h1>
                  <p class="car-item__description">సాహిత్యపరంగా తెలుగుతల్లి అంటే తెలుగు ప్రజల అమ్మగా చిత్రీకరించబడిన, ప్రజామోదం పొందిన చిహ్నం.
                  </p>
                  <a href="https://te.wikipedia.org/wiki/%E0%B0%A4%E0%B1%86%E0%B0%B2%E0%B1%81%E0%B0%97%E0%B1%81%E0%B0%A4%E0%B0%B2%E0%B1%8D%E0%B0%B2%E0%B0%BF#:~:text=%E0%B0%88%20%E0%B0%A6%E0%B1%87%E0%B0%B5%E0%B0%A4%20%E0%B0%A4%E0%B1%86%E0%B0%B2%E0%B1%81%E0%B0%97%E0%B1%81%20%E0%B0%B5%E0%B0%BE%E0%B0%B0%E0%B0%BF%20%E0%B0%B6%E0%B1%88%E0%B0%B2%E0%B0%BF%E0%B0%B2%E0%B1%8B,%E0%B0%85%E0%B0%A7%E0%B0%BF%E0%B0%95%E0%B0%BE%E0%B0%B0%E0%B0%BF%E0%B0%95%20%E0%B0%97%E0%B1%80%E0%B0%A4%E0%B0%82%20%E0%B0%AE%E0%B0%BE%20%E0%B0%A4%E0%B1%86%E0%B0%B2%E0%B1%81%E0%B0%97%E0%B1%81%20%E0%B0%A4%E0%B0%B2%E0%B1%8D%E0%B0%B2%E0%B0%BF." class="car-item__btn">మరింత తెలుసుకోవడానికి</a>
                    </div>
                </div>
              </div>
              <div class="car-item car-item--2">
                <div class="car-item__image"></div>
                <div class="car-item__info">
                  <div class="car-item__container">
                  <h1 class="car-item__title">నన్నయ్య</h1>
                  <p class="car-item__description">నన్నయ భట్టారకుడు(సా.శ.11వ శతాబ్ది) తెలుగు సాహిత్యంలో ’’’ఆదికవి’’’గా ప్రఖ్యాతుడయ్యాడు.నన్నయ సంస్కృతంలో తొలి తెలుగు వ్యాకరణ గ్రంథమైన ఆంధ్ర శబ్ద చింతామణి రచించారని భావిస్తారు. </p>
                  <a href="https://te.wikipedia.org/wiki/%E0%B0%A8%E0%B0%A8%E0%B1%8D%E0%B0%A8%E0%B0%AF%E0%B1%8D%E0%B0%AF" class="car-item__btn">మరింత తెలుసుకోవడానికి</a>
                    </div>
                </div>
              </div>
                <div class="car-item car-item--3">
                <div class="car-item__image"></div>
                <div class="car-item__info">
                  <div class="car-item__container">
                  <h1 class="car-item__title">తిక్కన</h1>
                  <p class="car-item__description">తిక్కన లేదా తిక్కన సోమయాజి (1205 - 1288). విక్రమసింహపురి (నేటి నెల్లూరు ప్రాంతాన్ని) పరిపాలించిన మనుమసిద్ధికి మంత్రిత్వం వహించారు. కవిత్రయములో తిక్కనది నాటకీయ శైలి, సంభాషణాత్మక శైలి. అతనికి "కవి బ్రహ్మ", "ఉభయ కవిమిత్రుడు" అనే బిరుదులు ఉన్నాయి.</p>
                  <a href="https://te.wikipedia.org/wiki/%E0%B0%A4%E0%B0%BF%E0%B0%95%E0%B1%8D%E0%B0%95%E0%B0%A8" class="car-item__btn">మరింత తెలుసుకోవడానికి</a>
                    </div>
                </div>
              </div>
              
               <div class="car-item car-item--4">
                <div class="car-item__image"></div>
                <div class="car-item__info">
                  <div class="car-item__container">
                  <h1 class="car-item__title">శ్రీ శ్రీ</h1>
                  <p class="car-item__description">శ్రీశ్రీ అని పిలవబడే శ్రీరంగం శ్రీనివాసరావు (ఏప్రిల్ 30, 1910 - జూన్ 15, 1983) ప్రముఖ తెలుగు కవి. విప్లవ కవిగా, సాంప్రదాయ, ఛందోబద్ధ కవిత్వాన్ని ధిక్కరించినవాడిగా, అభ్యుదయ రచయితల సంఘం అధ్యక్షుడిగా, విప్లవ రచయితల సంఘం స్థాపక అధ్యక్షుడిగా, సినిమా పాటల రచయితగా ప్రసిద్ధుడు</p>
                  <a href="https://te.wikipedia.org/wiki/%E0%B0%B6%E0%B1%8D%E0%B0%B0%E0%B1%80%E0%B0%B6%E0%B1%8D%E0%B0%B0%E0%B1%80" class="car-item__btn">మరింత తెలుసుకోవడానికి</a>
                    </div>
                </div>
              </div>
              
             <div class="car-item car-item--5">
                <div class="car-item__image"></div>
                <div class="car-item__info">
                  <div class="car-item__container">
                  <h1 class="car-item__title">అల్లసాని</h1>
                  <p class="car-item__description">ఆంధ్ర కవితా పితామహునిగా పేరుగాంచిన అల్లసాని పెద్దన శ్రీ కృష్ణదేవరాయల ఆస్థానంలో అష్టదిగ్గజములలో అగ్రగణ్యుడు. సంస్కృతాంధ్ర కవిత్వం ఎలా ఉండవలెను అని ఒక ఉత్పలమాల ఆశువుగా చెప్పి రాయల చేత సన్మానం గండపెండేరం తొడిగించుకున్నవాడు. ఇతడు రచించిన మనుచరిత్ర ఆంధ్రవాఙ్మయములో ప్రథమ ప్రబంధముగా ప్రసిద్ధికెక్కినది.</p>
                  <a href="https://te.wikipedia.org/wiki/%E0%B0%85%E0%B0%B2%E0%B1%8D%E0%B0%B2%E0%B0%B8%E0%B0%BE%E0%B0%A8%E0%B0%BF_%E0%B0%AA%E0%B1%86%E0%B0%A6%E0%B1%8D%E0%B0%A6%E0%B0%A8#:~:text=%E0%B0%87%E0%B0%A4%E0%B0%A1%E0%B1%81%20%E0%B0%B0%E0%B0%9A%E0%B0%BF%E0%B0%82%E0%B0%9A%E0%B0%BF%E0%B0%A8%20%E0%B0%AE%E0%B0%A8%E0%B1%81%E0%B0%9A%E0%B0%B0%E0%B0%BF%E0%B0%A4%E0%B1%8D%E0%B0%B0%20%E0%B0%86%E0%B0%82%E0%B0%A7%E0%B1%8D%E0%B0%B0%E0%B0%B5%E0%B0%BE%E0%B0%99%E0%B1%8D%E0%B0%AE%E0%B0%AF%E0%B0%AE%E0%B1%81%E0%B0%B2%E0%B1%8B%20%E0%B0%AA%E0%B1%8D%E0%B0%B0%E0%B0%A5%E0%B0%AE,%E0%B0%87%E0%B0%A4%E0%B0%A8%E0%B0%BF%E0%B0%A8%E0%B0%BF%20%E0%B0%AA%E0%B1%86%E0%B0%A6%E0%B1%8D%E0%B0%A6%E0%B0%A8%E0%B0%BE%E0%B0%AE%E0%B0%BE%E0%B0%A4%E0%B1%8D%E0%B0%AF%E0%B1%81%E0%B0%A1%E0%B1%81%20%E0%B0%85%E0%B0%A8%E0%B0%BF%20%E0%B0%95%E0%B1%82%E0%B0%A1%E0%B0%BE%20%E0%B0%85%E0%B0%82%E0%B0%9F%E0%B0%BE%E0%B0%B0%E0%B1%81.&text=%E0%B0%85%E0%B0%A8%E0%B0%BF%20%E0%B0%B0%E0%B0%BE%E0%B0%AF%E0%B0%B2%20%E0%B0%B5%E0%B0%BE%E0%B0%B0%E0%B1%81%20%E0%B0%B8%E0%B0%97%E0%B0%AE%E0%B1%81%20%E0%B0%AA%E0%B0%A6%E0%B1%8D%E0%B0%AF%E0%B0%AE%E0%B1%81,%E0%B0%85%E0%B0%B2%E0%B1%8D%E0%B0%B2%E0%B0%B8%E0%B0%BE%E0%B0%A8%E0%B0%BF%20%E0%B0%B5%E0%B0%BE%E0%B0%B0%E0%B1%81%20%E0%B0%88%20%E0%B0%B5%E0%B0%BF%E0%B0%A7%E0%B0%AE%E0%B1%81%E0%B0%97%E0%B0%BE%20%E0%B0%AA%E0%B1%82%E0%B0%B0%E0%B0%BF%E0%B0%82%E0%B0%9A%E0%B0%BE%E0%B0%B0%E0%B1%81." class="car-item__btn">మరింత తెలుసుకోవడానికి</a>
                    </div>
                </div>
              </div>
              
            </div>
          </div>  
       </div>

       <!-- event importance -->
       <center>
        <div class="event">
            <div class="head">
                <div class="info">
                    <button>
                        <div class="det">
                            <h2>తెలుగు భాషా చరిత్ర, పరిశోధనలు </h2>
                        </div>
                        <div class="c1 contents">
                            <p><li>తెలుగు భాష వేయి సంవత్సరాల పైబడిన చరిత్ర కలిగినది. ఎన్నో విశిష్ట కావ్యాలు, రచనలు, సాంఘిక, చారిత్రిక రచనలు; సాంఘిక, పౌరాణిక, ఐతిహాసిక, జానపద రచనలు; సామెతలు, పొడుపుకథలు, పెళ్ళి పాటలు వంటి ఎన్నో వైవిధ్యమైన ప్రక్రియలో ఈ సాహితీ వ్యవసాయం కొనసాగింది. అయితే నవీనకాలంలో వస్తున్న సాంఘిక ఆర్థిక సామాజిక శాస్త్రీయ మార్పుల వల్ల ఈ భాష మాట్లాడే వారి సంఖ్య తగ్గుతోంది అనేది కాదనలేని సత్యం. మరీ ముఖ్యంగా, దాని ఔన్నత్యానికి తగిన స్థానం లభించడం లేదనిపిస్తుంది. </li><br> 
                            <li>తెలుగుకు ప్రాచీనభాష హోదా వచ్చిన పర్యవసానంగా కేంద్రప్రభుత్వ సహకారంతో ఏర్పడిన తెలుగు విశ్వవిద్యాలయంలోని తెలుగు భాషాపీఠానికి అదనంగా, ఉభయ తెలుగురాష్ట్రాలలో కలిపి వివిధ విశ్వవిద్యాలయాలలో 15 దాకా తెలుగు విభాగాలు ఉన్నాయి. అమెరికాలోని బర్కిలి, ఆస్టిన్, ఎమొరీ విశ్వవిద్యాలయాల్లోని తెలుగు విభాగాలు కూడా తెలుగు భాషా పరిశోధనకు, వ్యాప్తికి ఎంతో దోహదపడుతున్నాయి. దేశంలో కూడా ఇతర రాష్ట్రాల్లో బెంగుళూరు,మద్రాసు,డిల్లీ, బెనారస్ హిందూ విశ్వవిద్యాలయంవంటి విశ్వవిద్యాలయాల్లో కూడా తెలుగు విభాగాలు విరాజిల్లుతూ ఉండడం సంతోష దాయకం. ఈ మధ్యకాలంలో ఇజ్రాయిల్,బ్రిటన్,ఫ్రాన్స్ ఇంకా ఇతర ఐరోపా విశ్వవిద్యాలయాల్లో కూడా ప్రాచీన భాషావిభాగాలలో భాగంగా తెలుగు శాఖలు తమ కృషిని కొనసాగించడం కూడా తెలిసిందే.</li><br>
                            <li>ఎన్ని చోట్ల తెలుగు విభాగాలు ఉన్నా, ఎన్ని విధాలుగా ప్రయ్త్నిస్తున్నా కానీ వాటి వ్యాప్తికి అవసరమైన పద్ధతులు,మాధ్యమాలు,విషయ పరివ్యాప్తి (అంటే Methodology, Medium and Message) వంటి విషయాల్లో శాస్త్ర,సాంకేతిక రంగాలకు, భాషాశాస్త్రాలకు ఉన్న తీవ్రమైన వ్యత్యాసంవల్ల భాషాశాస్త్రాల అభివృద్ధి,పరిశోధనల్లో ఎంతో తేడా ఉంటోంది. తత్ఫలితంగా ఈ భాషావిభాగాలకు ఆదరణ, వాటికి విద్యార్థులను, పోషకులను ఆకర్షించడంలో మందగింపే కాక గణనీయంగా తగ్గడం కూడా ఒక బాధాకరమైన పరిణామం. ఈ పరిస్థితి మారి, తెలుగుభాషను పరిరక్షించుకోవాలంటే శాస్త్రసాంకేతిక రంగాల్లో జరుగుతున్న కంప్యూటర్ ఇంటర్నెట్ వినియోగం భాషాశాస్త్ర విషయంలో కూడా జరగడం అత్యంత ఆవశ్యకము. </li>
                            </p>
                        </div>
                    </button>
                </div>   
            </div>
            <div class="head">
                <div class="info">
                    <button>
                        <div class="det">
                            <h2>ప్రస్తుత పరిస్థితులు</h2>
                        </div>
                        <div class="c1 contents">
                            <p><li>ఈ పరిస్థితికి చాలా కారణాలు ఉన్నాయి. అనుడ్లో మొదటిది, ఆంగ్ల భాషలో దేశ/విదేశాల్లో ఉన్నత విద్యాభ్యాసాలకోసం, ఇంకా ఉద్యోగ ప్రయత్నాల కోసం ఆంగ్లభాషను ఆదరించడం తప్పు కాదు కానీ, వాడుకలోను, ఇంట్లో కూడా తెలుగుభాష వినియోగానికి దూరం కావడం ఒక కారణం. ఇంటర్నెట్ కంప్యూటర్లు వంటివాటి విస్తృత వినియోగం వల్ల వాటి ప్రాముఖ్యం వల్ల ఇంజనీరింగ్, సైన్స్, మెడికల్ వంటి రంగాల వ్యక్తులకు, ఆ విద్యార్థులకు లభిస్తున్న విస్తృత అవకాశాలు మరియు ఉన్నత స్థానం తెలుగువంటి భాషాపండితులకు,భాషాశాస్త్ర విద్యార్థులకు లభించక పోవడం అనే మరో కారణం  కూడా బాధ కలిగించక మానదు..  </li><br> 
                            <li>అమెరికా విదేశాల్లో తెలుగువారు తమ పిల్లలకు కచ్చితంగా తెలుగు నేర్పిస్తున్నారు. మలేషియా,మారిషస్ ఫిజి,ఆస్ట్రేలియా వంటి దేశాల్లో తెలుగు భాషా వ్యాప్తి చెందుతోంది. తెలుగు మాట్లాడే వారి, మాట్లాడితే అర్థం అయ్యేవారి సంఖ్య కూడా గణనీయంగా పెరుగుతోంది. కానీ మనదగ్గర పరిస్థితి భిన్నంగా ఉంది. </li><br>
                            <li>ఇరవయ్యొకటో శతాబ్ది తర్వాత మొత్తం జీవనవిధానాలు జీవన పరిస్థితుల్లో ఇంటర్నెట్ సాధనం, గూగుల్ వినియోగం బాగా పెరిగిపోయి అవి మన నిత్యజీవనంలో అంతర్భాగం అయిపోవడం చూస్తూనే ఉన్నాం. దీనివల్లనే మన జీవనవిధాలు, వ్యవహారాలు గూగుల్ రావడానికి ముందు -గూగుల్ వచ్చిన తర్వాత అన్నట్లుగా విభజించి చూడబడుతున్నాయి. ఆర్థిక, మేనేజ్మెంట్, వైద్య ఇంజనీరింగ్ రంగాలన్నీ కంప్యూటర్ పరిజ్ఞానంతో వాటి విస్తృత లబ్ధితో, వినియోగంతో ఎంతో అభివృద్ధి చెందడం మన కళ్ళకి కనబడుతూనే ఉన్నది. అందుకే వాటిపట్ల విద్యార్థుల, తల్లిదండ్రుల ఆశక్తి,ఆకర్షణ ఏమాత్రం తగ్గకపోగా నానాటికీ పెరుగుతుండడం గమనించవచ్చు. భాషాశాస్త్రాన్ని అభ్యసిస్తున్న విద్యార్థులకు కూడా ఈ శాస్త్ర,సాంకేతిక విజ్ఞానాల సాధనాల సహాయం తోడ్పడితే వారికి కూడా మరిన్ని ఉన్నత అవకాశాలు,వాటి ద్వారా మరింత మంది తెలుగుభాషను నేర్చుకునే అవకాశం లేదా అభ్యసించే వారి సంఖ్య పెరగడానికి అవకాశాలు ఉంటాయి. </li>
                            </p>
                        </div>
                    </button>
                </div>   
            </div>
            <div class="head">
                <div class="info">
                    <button>
                        <div class="det">
                            <h2>గతంలో జరిగిన ప్రయత్నాలు</h2>
                        </div>
                        <div class="c1 contents">
                            <p><li>తెలుగు భాష,సంస్కృతిని పరిరక్షించే లక్ష్యంతో ప్రపంచ తెలుగుమహాసభలు మొట్టమొదటిసారి 1975లో  హైదరాబాదులో, ఆ తర్వాత రెండవ సభలు 1981లో కౌలాలంపూర్ లో, మూడవ సభలు 1990లో మారిషస్ లో, నాలుగో సభలు 2012లో తిరుపతిలో జరిగాయి. రాష్ట్ర విభజన అనంతరం 2017లో తెలంగాణ ప్రభుత్వం ప్రపంచ తెలుగుసభల పేరుతో హైదరాబాదులో భారీ తెలుగు సభలు జరిపింది. </li><br> 
                            <li> వీటిలో విద్యా సదస్సులు,సాంస్కృతిక ప్రదర్శనలు,ప్రపంచ పుస్తక ప్రదర్శనలు ఇంకా సంస్కృతికి సంబంధించిన వివిధ వస్తు-సంచయ ప్రదర్శనలు అంటే, ఎగ్జిబిషన్స్ వంటివి జరిగాయి. తెలుగువారి భవితకు బంగారు బాటలు వేసేందుకే తెలుగువారు జరుపుకున్న పండుగలుగా ఈ ప్రపంచ తెలుగు మహాసభలు జరిగాయి. మన సంస్కృతిని పరిరక్షిస్తూ నలుదిశల వ్యాపింపజేస్తున్న దేశ దేశాల తెలుగువారందరూ ఒకచోట చేరి తెలుగుదనాన్ని, తెలుగు సాహిత్య సౌరభాన్ని, రకరకాల రూపాల తెలుగు భాషా సంపదను పంచుకోవడానికి, పెంచుకోవడానికి ఆనందించడానికి కూడా వేదికలుగా ఈ సభలు విశేషంగా ఉపయోగపడ్డాయి.  </li><br>
                            <li> 2011లో కాలిఫోర్నియాలో జరిగిన మొట్టమొదటి అంతర్జాతీయ తెలుగు ఇంటర్నెట్ కాన్ఫరెన్స్ (First International Telugu Internet conference) ఆధునిక కంప్యూటర్ యుగంలో తెలుగు భాష విషయంలో ఒక మైలురాయి, ముఖ్యమైన విజయం కూడా. ఎందుకంటే దాని పర్యవసానంగానే తెలుగు భాషకి యూనికోడ్ లభించింది. ఆ తరువాత తెలుగు భాషని కంప్యూటర్ లోకి ఎక్కించడం అనేది సులభ సాధ్యమైంది. అటుపిమ్మట, ఆంధ్రప్రదేశ్ ప్రభుత్వం,సిలికానాంధ్ర విశ్వతెలుగు అంతర్జాలవేదిక (GIFT)ల సంయుక్త ఆధ్వర్యంలో 2012లో <span class="bold">"అంతర్జాలంలో తెలుగు"</span> పేరుతో జరిగిన రెండవ <span class="bold">అంతర్జాతీయ తెలుగుఅంతర్జాల సదస్సు</span>  ఈ దిశలో మరో ముందడుగు వేసింది. ఆధునికకాలంలో ఏ విధమైన శాస్త్రీయ పరిశోధన చేయాలన్నా, ఇంటర్నెట్ తో అనుసంధానమైన కంప్యూటర్ అనేది అద్వితీయమైన సాంకేతిక సాధనం అనేది కాదంలేని సత్యం. అయితే ఇంతకుముందే చెప్పినట్లు, శాస్త్ర సాంకేతిక రంగాలలో వీటికి ఉన్నంత లభ్యత,వినియోగం భాషా శాస్త్రాల విషయంలో లేవన్నది గమనించవలసిన ముఖ్యమైన విషయం. </li>
                            </p>
                        </div>
                    </button>
                </div>   
            </div>
            <div class="head">
                <div class="info">
                    <button>
                        <div class="det">
                            <h2>కిమ్ కర్తవ్యం?</h2>
                        </div>
                        <div class="c1 contents">
                            <p><li>పెరుగుతున్న ప్రపంచీకరణలో ఆటుపోట్లను తట్టుకునే శక్తి భాషా శాస్త్ర విద్యార్థులకు లభించాలంటే శాస్త్ర సాంకేతిక రంగాల్లోని సాధనాల వినియోగం తెలుగు భాషా శాస్త్రంలో కూడా పెరగాలి. తెలుగుభాషా విషయంలో వీటి వినియోగం,అమలు అస్సలు లేవని కూడా చెప్పలేం. అక్కడక్కడ కొన్ని పరిశోధనలు జరుగుతున్నాయి. ఎన్నో పరిశోధనా పత్రాలు కూడా వెలువరించబడ్డాయి.. </li><br> 
                            <li>వెయియా సంవత్సరాల పైగా చరిత్ర కలిగిన తెలుగుభాష ఖ్యాతిని, తెలుగు జాతి వైభవాన్ని వ్యాప్తి చేయడంలో విద్యార్థుల,ఉపాధ్యాయుల కృషి కూడా అత్యంత ఆవశ్యకం. అందుకే, శాస్త్రసాంకేతిక వినియోగాల గురించిన ఆ శాస్త్రీయ పరిశోధనలను వ్యాప్తిలోకి తీసుకురావాల్సిన అవసరం ఎంతో ఉంది. దానివల్ల అటువంటి పరిశోధన చేసిన వారికి గుర్తింపేకాక; ఈనాటి విద్యార్థులకి, తదుపరి తరాలకి ఆ పరిశోధనలు ప్రోత్సాహకారకాలుగా మార్గదర్శకంగా కూడా ఉంటాయి.    </li><br>
                            <li> వీటన్నింటినీ దృష్టిలో పెట్టుకొని, భాషా సంస్కృతుల పరిరక్షణ, వ్యాప్తికి పాత తరహా సభలు మాత్రమే కాక వాటిని అభ్యసిస్తున్న,వాటిపై పరిశోధన చేస్తున్న విద్యార్థులకు ఇంకా పరిశోధకులకు ఉపాధి అవకాశాలు, ఉన్నత విద్యాభ్యాస అవకాశాలు కల్పించడానికి తగిన వనరులను సమకూర్చడానికి ఉభయ తెలుగురాష్ట్రాల్లోని అన్ని విశ్వవిద్యాలయాలు సంయుక్తంగా <span class="bold">“తెలుగు పరిరక్షణ-పరిశోధనా వార్షిక సదస్సులను”</span>  నిర్వహించాల్సిన ఆవశ్యకత ఎంతైనా ఉంది. </li>
                            <li>ఇంకా డిజిటల్ తెలుగు ప్రాజెక్టు ద్వారా గత శతాబ్దంలో తెలుగులో జరిగిన మొత్తం పరిశోధనలను ఆన్లైన్లో సులభంగా ఉండేలా ప్రణాళికలు కూడా రచించి, అమలు చేయవలసిన అవసరం కూడా చాలా ఉంది. </li>
                            </p>
                        </div>
                    </button>
                </div>   
            </div>
            <div class="head">
                <div class="info">
                    <button>
                        <div class="det">
                            <h2>సమావేశాల్లో ఏమేమి అంశాలు, సదస్సులు ఉంటాయి?</h2>
                        </div>
                        <div class="c1 contents">
                            <p><li>ప్రతి సంవత్సరం ఫిబ్రవరి 21ని మాతృభాషా దినోత్సవంగా జరుపుకుంటున్నాము మనం. అందువల్ల ఫిబ్రవరి 21 మరియు మరుసటి దినాలు 22, 23 లలో  ప్రతి ఏటా ఒక్కో విశ్వవిద్యాలయం ఆధ్వర్యంలో ఒక్కో ప్రాంతంలో ఈ సభలు,సదస్సులు జరిగితే చాలా ఆకర్షణీయంగాను ఆచరణాత్మకంగానూ ఉంటుంది అని నిర్ణయించడం జరిగింది. </li><br> 
                            <li> ఇందులో ప్రప్రధమంగా 2023 సదస్సులు ఆంధ్రప్రదేశ్ విద్యాలయం ఆధ్వర్యంలో జరిపించాలని, ప్రారంభించాలని ఉపకులపతిని కోరి, దీనిని ఒక మరపురాని మధురమైన మైలురాయిగా మార్చాలని అభ్యర్థించిన వెంటనే అబినందించి ఉపకులపతి గారు అంగీకరించి తెలుగు విభాగాన్ని పిలిచి ప్రణాళికా విషయంలో ముందుకి నడవమని చెప్పేరు. మా కోరిక ప్రకారం వీటి ద్వారా తెలుగుభాష పదికాలాలపాటు విరాజిల్లేలాగా ఈ ప్రపంచ తెలుగు సదస్సులను నిర్వహించే కార్యాచరణ ప్రణాళికకు తుదిరూపు ఇవ్వాలని కూడా ఆదేశించారు.    </li><br>
                            </p>
                        </div>
                    </button>
                </div>   
            </div>
            <div class="head">
                <div class="info">
                    <button>
                        <div class="det">
                            <h2>సమావేశాలు ఎప్పుడు, ఎవరు జరపాలి?</h2>
                        </div>
                        <div class="c1 contents">
                            <p><li><span class="bold">తెలుగుభాషలో జరుతున్న పరిశోధనల విహంగ వీక్షణం- విషయ వైవిధ్యం-విధాన భేదాలు </span>అనేది ఒక ముఖ్యమైన సదస్సు.</li>
                                <li>మరీ ముఖ్యంగా,<span class="bold">తెలుగుభాషపై శాస్త్రీయ పరిశోధనలు-ఆవశ్యకత-అవకాశాలు </span> గురించి ఒక సదస్సు, <span class="bold">తెలుగు భాషా పరిశోధనల్లో శాస్త్ర సాంకేతిక సాధనాల వినియోగం</span>పై ఒక సదస్సు ఈ సమావేశాల్లో ఉండవలసిన ఆధునిక అంశాలు.  </li>
                                <li>తెలుగులో పట్టభద్రులు అయిన వారికి ఉపాధ్యాయవృత్తి తర్వాత ఎక్కువగా కొలువుని ఇచ్చేవి ప్రచార,ప్రసార మాధ్యమాలు ఇంకా పత్రికలు. అందువలన సాంప్రదాయక అంశాల సదస్సులతో పాటుగా ముఖ్యంగా ఉండవలసిన సదస్సు - <span class="bold">పరిశ్రమ ప్రముఖులు పాల్గొనేలా తెలుగులో ఉపాధి అవకాశాల సదస్సు. </span>ఇది ఒక రకంగా చెప్పాలంటే ఇంజనీరింగ్ ఇతర శాస్త్ర రంగాలలో ఉపాధి అవకాశాల placement sessions లాంటివి. దీనిని వినియోగించుకొని విద్యార్థులు తమ జీవితాన్ని ఒక మలుపు తిప్పుకోవడానికి, జీవన ప్రమాణాలను పెంచుకునే విధంగా ఉన్నతమైన ఉద్యోగాలను పొందడానికి ఎంతో అవకాశం ఉంటుంది. తద్వారా రాబోయే కాలంలో తెలుగుభాషలో, తెలుగుభాషా విభాగాల్లో ఎక్కువమంది విద్యార్థులు చేరడానికి, తెలుగుభాషా పరివ్యాప్తి మరింతగా ముందుకు నడవడానికి అవకాశం ఉంటుంది. </li>
                                <li>మన జాతి గౌరవాన్ని నిలిపిన ప్రముఖులకు యువకులకు మాత్రమే కాక భావితరాలైన <span class="bold">బాల బాలికలకు సైతం ప్రాధాన్యమిచ్చేలా విద్యార్థులకు పద్యపఠనం, అర్థ-సందర్భ వివరణ, ఇంకా తెలుగుభాషా ప్రాశస్త్యంపై వక్తృత్వ పోటీలు </span>ఇందులో ప్రముఖంగా ఉండాలి. </li>
                                <li>అమెరికానుంచి ఆస్ట్రేలియా దాకా విదేశాల్లోని తెలుగువారు తమ పిల్లలకు ఖచ్చితంగా తెలుగు నేర్పిస్తున్నారు.  తెలుగువారే కాకుండా తెలుగేతరులు సైతం ఎంతో ఆసక్తితో తెలుగు నేర్చుకుంటున్నారు. ఇలాంటి తరుణంలో <span class="bold">“ఆంధ్రప్రదేశ్, తెలంగాణా ఉభయరాష్ట్రాల్లో పిల్లలందరికీ మా లాగా తెలుగు నేర్పించడం ఎలా?” </span>అని వారు చెప్పే పరిస్థితి ఉత్పన్నం కావడం బాధాకరం అయినా; దేశ,విదేశాల్లోని తెలుగువారు పాటిస్తున్న క్రమశిక్షణ, పాఠ్యాంశాలు, బోధనా పద్ధతులను తెలుసుకోవడం కోసం స్వయంగా వారినుంచే వినడం కోసం ఒక ప్రత్యేక సదస్సు కూడా ఇందులో అత్యంత ఆవశ్యకం. </li>
                                <li>అలాగే, సామెతలు తెలుగు భాషాసంపదలో విశేషభాగమే కాక, తెలుగువారి జీవన స్రవంతిలో మమేకమైన ఒక ప్రత్యేక అంశం. ఒక విస్తృతమైన అర్ధాన్ని, సందర్భాన్ని సంక్షిప్తంగా ఒక వాక్యంలో చెప్పేలాగా చక్కని తెలుగు సామెతలు మన ఘన సంపద. అటువంటి <span class="bold">తెలుగు సామెతలు పుట్టుక-పరివ్యాప్తి మరియు విశేషాలు </span>గురించి కూడా ఒక ప్రత్యేకమైన సదస్సు ఈ సమావేశాల్లో భాగంగా ఉండడం ఆవశ్యకం, సమంజసం కూడా. </li>
                                <li>చక్కటి సందేశాలను, సన్నివేశాలను మధురమైన తెలుగు పదాలతో  ప్రజలకు కమ్మగా వినిపించేది కవిత్వం<span class="bold">ఆదికవి నన్నయ నుంచి నేటి వరకు వచ్చిన కావ్య,కవిత్వరీతుల పరిశీలన-పోకడలు-పరిశోధనతో జరిగే ఒక సదస్సు </span>కూడా ఇందులో ఒక తప్పనిసరి అంశంగా ఉండాలి.  </li>
                                <li>ఈ సభలలో పాల్గొనడానికి దేశవిదేశాల్లోని ప్రతిభావంతుల ఎంపికద్వారా, నామమాత్రపు ప్రవేశరుసుముతో ప్రతినిధుల భాగస్వామ్యంతో, అతితక్కువ రుసుముతో విద్యార్థుల ప్రవేశంద్వారా ఈ కాలానికి అవసరమైన, అనుగుణమైన అద్భుతమైన తొలి అడుగు పడుతుందని విశ్వసించి ఈ కార్యక్ర్మానికి శ్రీకారం చుట్టేం. <br>మొత్తం మీద తెలుగుభాషపై ఉన్న మక్కువతో జరుపుకునే, తెలుగువారి అచ్చమైన తెలుగుపండుగగా ఈ సభలను సదస్సులను నిర్వహించి, నిజమైన శాశ్వతమైన భాషాభివృద్దికి దోహదపడాలని కోరుకుంటూ, <span class="bold">గురువుల,విశ్వవిద్యాలయాల సంయుక్త ఆధ్వర్యంలో </span></li>
                                <span class="end">“అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు-2023” <br>international Telugu Language Utsavams by Guides& Universities (iTeLUGU)  </span>
                            </p>
                        </div>
                    </button>
                </div>   
            </div>
            <div class="head">
              <div class="info">
                  <button>
                      <div class="det">
                          <h2>ఎవరెవరు పాల్గొనాలి? పాల్గొనవచ్చు?</h2>
                      </div>
                      <div class="c1 contents">
                          <p><li>తెలుగు విద్యార్థులు, ఆచార్యులు, ప్రాచార్యులు, పరిశోధకులు (చేసినవారు, చేస్తున్నవారు, చెయ్యాలనుకుంటున్నవారు) సామాన్య ప్రజానీకం ఈ ప్రకారం తెలుగు భాషాభిమానులు అందరూ ఇందులో పాల్గొనవచ్చు, పాల్గొనాలి కూడా.  </li></p>
                      </div>
                  </button>
              </div>   
            </div>
            <div class="head">
              <div class="info">
                  <button>
                      <div class="det">
                          <h2>ఎలా పాల్గొనాలి? ప్రతినిధి రుసుము?</h2>
                      </div>
                      <div class="c1 contents">
                          <img style="width: 200px;height: 200px;" src="pal.jpg" alt="image">
                          <p><li><a href="#reg">ఇక్కడ ఇవ్వబడిన లంకెలో</a>  తమ తమ వివరాలను ఇచ్చి ప్రతింధులుగా నమోదు చేసుకుని తెలుగు భాషాభిమానులు ఎవరైనా ఇందులో పాల్గొనవచ్చు.   </li></p>
                          <p><li>ఆంధ్ర విశ్వకళా పరిషత్ వారి సౌజన్యంతో సమావేశ మందిరాలు, అతిథి గృహంలో వీలైనన్ని గదులు వంటి కేటాయింపుతో ప్రారంభమైన ఈ భాషా ఉత్సవాలు సమైక్య భారతి సంస్థ యొక్క విశేష కృషితో ఎందరో భాషాభిమానుల, సంస్థల సహకారంతో వీటిని దిగ్విజయంగా నడిపించగలమనే నమ్మకంతో ముందడుగు వేస్తున్నాం.</li></p>
                          <p><li>అందువల్ల, దీనికి ప్రత్యేకమైన కనీస ప్రవేశ రుసుము లేదు. కానీ, సహృదయులు అందరూ ఈరోజుల్లో సమావేశాల వ్యయభారాలని దృష్టిలో ఉంచుకుని కనీసం రూ. 200 ఇవ్వవలసిందిగా కోరుతున్నాం. ఆపైన వారి వారి అభీష్టం.</li></p>
                      </div>
                  </button>
              </div>   
            </div>
            <div class="head">
              <div class="info">
                  <button>
                      <div class="det">
                          <h2>ముక్తాయింపు</h2>
                      </div>
                      <div class="c1 contents">
                          <p><li>మొత్తం మీద తెలుగుభాషపై ఉన్న మక్కువతో జరుపుకునే, తెలుగువారి అచ్చమైన తెలుగుపండుగగా ఈ సభలను సదస్సులను నిర్వహించి, నిజమైన శాశ్వతమైన భాషాభివృద్దికి దోహదపడాలని కోరుకుంటూ, <span class="bold">“అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు-2023”</span> </li></p>
                          <span class="end">“అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు-2023” <br>international Telugu Language Utsavams by Guides& Universities (iTeLUGU)  </span>
                          <p><li>ఆంధ్ర విశ్వకళాపరిషత్ మరియు సమైక్య భారతి  సంయుక్త ఆధ్వర్యంలో జరిగీ ఈ భాషా ఉత్సవాల <a href="#timeline">స్థూల ప్రణాళిక ప్రస్తుతానికి</a>  ఇలా ఉంది.</li></p>
                          <p><li>వక్తల,ఆహూతుల పూర్తివివరాలులు ఫిబ్రవరి 13నాడు ఈ వలగూడు (వెబ్సైట్)లో ప్రచురించబడతాయి. మార్పులు చేర్పులు కూడా సంయానుకూలంగా ప్రచురించబడతాయి. </li></p>
                          <span class="end">నమస్కారములతో.... <a href="#team"> కార్య నిర్వహణ బృందం</a></span>
                        </div>
                  </button>
              </div>   
            </div>
            <div class="head">
              <div class="info">
                  <button>
                      <div class="det">
                          <h2>తెలుగు పరిశోధనా పత్రాల సమర్పణకు ఆహ్వానం</h2>
                      </div>
                      <div class="c1 contents">
                          <img src="ilog.png" alt="logo">
                          <p><li>మీరు తెలుగులో పరిశోధన (PhD పట్టా కోసం / సాహిత్య వ్యాపకంగా) చేసి ఉన్నారా? చేస్తున్నారా? చెయ్యాలి అనుకుంటున్నారా? తెలుగు భాషా సాహిత్యంపై కానీ తెలుగు భాషపై కానీ ఎటువంటి పరిశోధనలు అవుతున్నాయో తెలుసుకోవాలి అనుకుంటున్నారా? అయితే ఈ అవకాశం మీకే. మీకోసమే! </li></p>
                          <p><li><span class="bold">మీరు  పరిశోధన  పూర్తి చేసినవారు అయితే:-</span>మీ పరిశోధనా పత్రాన్ని, మీరు ఎన్నుకున్న అంశాన్ని, అంశాన్ని ఎలా ఎన్నుకున్నారు, అందులో వచ్చిన సమస్యలు, వాటిని ఎలా పరిష్కరించేరు, చివరికి ఎలా విజయవంతంగా పూర్తి చేసేరు, తదుపరి పరిశోధకులకి ఎటువంటి సలాహాలు/సూచనలు ఇస్తారు అనేవి చెప్పవచ్చును. </li></p>
                          <p><li><span class="bold">మీరు  పరిశోధన  చేస్తున్నవారు అయితే :- </span>పైన చెప్పినట్లే మీఊ ఏమి చేస్తున్నారు, ఎక్కడివరకు వచ్చింది, ఇబ్బందులు ఏమైనా ఎదుర్కొంటున్నారా, ఏదైనా సహాయం/సలహాలు ఆశిస్తున్నారా? వంటి విషయాలను పంచుకోవచ్చును. అనుభవజ్ఞుల మార్గదర్శకటం తీసుకోవచ్చును. </li></p>
                          <p><li><span class="bold">మీరు  పరిశోధన  చెయ్యాలి అనుకుంటున్నవారు అయితే: - </span>ఇంకెందుకు ఆలస్యం? ఈ సడసూ మీకోసమే. అసలు పరిశోధన ఎలా చెయ్యాలి, ఏమి చేయాలి, వివిధ పద్ధతులు , దొరికే సాధనాలు వంటివి విని, పెద్దలద్వారా తెలుసుకోడానికి ఇదే మంచి అవకాశం.   </li></p>
                          <span class="end">అంశాలు:</span>
                          <p style="text-align: left">1) తెలుగు భాష“లో” చేసిన పరిశోధనా పత్రాలు</p>
                          <p style="text-align: left">2) తెలుగు భాష“పై” చేసిన పరిశోధనా పత్రాలు</p>
                          <p style="text-align: left">3) తెలుగు భాషకు వ్యాప్తికి అంతర్జాలం, కంప్యూటర్ వంటి శాస్త్ర సాంకేతిక సాధనాలా అవసరం- అవకాశాలు</p>
                          <p style="text-align: left">4) తెలుగులో ఇంకా రావాల్సిన పరిశోధనలు, ఎన్నుకోవలసిన మిగిలిపోయిన/ముఖ్యమైన అంశాలు </p>
                          <p style="text-align: left">5) తెలుగు వ్యాప్తికి చెయ్యవల్సిన కార్యాచరణ, సంస్థలు, వ్యక్తులు, తల్లిదండ్రులు, ఉపాధ్యాయుల పాత్ర </p>
                          <p style="text-align: left">6) చదువు మాధ్యమం ఏదయినా – చక్కని తెలుగుని మాట్లాడడం, రాయడం, చదవడం ఎలా నేర్చుకోవాలి, మనం కొత్తవి రాయలేక పోయినా ఇప్పటికే ఉన్న అద్భుత గ్రంథాలను చదివి ఆనందించడం ఎలా? </p>
                          <p style="text-align: left">7) తెలుగు భాషలో వస్తున్న పరిశోధనల తుల్యాంకన</p>
                          <p style="text-align: left">8) తెలుగులో వస్తున్న పరిశోధనలు ఇతర భాషల్లో వస్తున్న పరిశోధనల తారతమ్యాలు ఇంకా..ఇతర సంబంధమైనవి   </p>
                          <span class="end">పత్రాల వివ్రాలు ఒక పేజీ, పరిచయం అర్ధ పేజీ, ఒక ఫోటోతో ఫిబ్రవరి 15 లోగా పంపవల్సిన </span> <br>
                          <span class="end">చిరునామా: <a href="mailto:contact@itelugu.in">contact@itelugu.in</a>  & <a href="mailto:murthyremilla@yahoo.com">murthyremilla@yahoo.com</a>  పూర్తి పత్రాలు/PPT ఫిబ్రవరి 20 లోగా పంపవలసి ఉంటుంది మరిన్ని వివరాలకు </span>
                        </div>
                  </button>
              </div>   
            </div>
       </div>
       </center>
    <!-- guests -->
    <center><h2 class="headi" id="team">కార్యవర్గం</h2></center>
    <!-- guestsmobile -->
    <center>
        <div class="guestsmob" >
          <div class="gue">
            <button onclick="on6()">
                <div class="guest">
                    <h3>ఆచార్య జర్రా అప్పారావు  </h3>
                    <img src="appa.jpg" alt="apparao">
                </div>
            </button>
            <div id="guestinfo6">
                <div class="ca">
                    <svg onclick="off6()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <img src="appa.jpg" alt="">
                    <center><h4>ఆచార్య శ్రీ జర్రా అప్పారావు గారు
                    </h4></center>
                  </div>
          
            </div>
        </div>
           <div class="gue">
                <button onclick="on1()">
                    <div class="guest">
                        <img src="reddy.jpg" alt="pgvd.prasad reddy">
                        <h3>శ్రీ PVGD ప్రసాద రెడ్డి</h3>
                    </div>
                </button>
                <div id="guestinfo1">
                    <div class="ca">
                        <svg onclick="off1()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        <img src="reddy.jpg">
                        <center><h4>శ్రీ PVGD ప్రసాద రెడ్డి</h4></center>
                        <center><p style="margin-top: 10%">ఆచార్య పి.వి.జి.డి. ప్రసాద్‌రెడ్డి విద్యా శిక్షణలో  అభిరుచి గల ఒక మంచి ఉపాధ్యాయుడు. సమాచార సాంకేతిక రంగం లో నిష్ణాతుడైన ఈయన విద్యాసంస్థల నిర్వహణలో మంచి  
                          నిష్ణాతుడు కూడా. ఆంధ్ర విశ్వకళా పరిషత్ (ఆంధ్రా యూనివర్సిటీ) ఉపకులపతి (వైస్ ఛాన్సలర్‌)గా ఉన్న ఆచార్య ప్రసాద రెడ్డి గారు పరిశ్రమలతో అనుసంధానం ద్వారా  విశ్వవిద్యాలయం లోని విద్యార్థులకు , విద్యా వ్యవస్థకు నూతన మార్గదర్శకత్వం వహించి తండైన బాటలో నాయకత్వం వహించడం ప్రత్యేకతగా కలిగి ఉన్నారు.  
                          కొత్త ఆవిష్కరణలను ప్రవేశపెడుతున్నప్పుడు , నమూనాలను అన్వేషిస్తున్నప్పుడు యథాతథ స్థితి నుంచి దూరంగా నూత్న ఒరవడిలో ప్రయాణించడం వీరి ప్రత్యేకత. అందరి అభివృద్ధికి మార్గనిర్దేశం చేసే ఈ ఉపకులపతి 
                          తమతమ  కార్యక్రమాలలో ఎప్పుడూ నూతనత్వం, సామాజిక సంబంధం కలిగి ఉండేలా అన్ని శాఖలు/ విభాగాలను ప్రోత్సహిస్తూ టంతో తీసుకువెళ్ళేలా  ఎప్పుడూ ప్రయత్నం చేస్తారు 
                          సమాచార సాంకేత వ్యవస్థల (సాఫ్ట్‌వేర్ సిస్టమ్‌ల) రూపకల్పనలో ఉన్న తన అపార అనుభవంతో విశ్వవిద్యాలయానికి దర్శకత్వం వహిస్తూ అందరికీ అన్నివేళలా అందుబాటులో ఉంటూ ఒక ప్రజా రంజక ఉపకులపతిగా పేరు పొందారు.   దర్శకత్వం వహించాడు
                          విశ్వవిద్యాలయ పరిపాలన యొక్క యాంత్రీకరణ  కోసం అభివృద్ధి ప్రాజెక్టులు మరియు
                          పరీక్షల నిర్వహణా పనులు మరియు ఈ-ఆఫీస్ నిర్వహణ కార్యాచరణను తీసుకు రావడం ద్వారా సులభతరం చేయడమే కాక పారదర్శకత్వాన్ని కూడా తీసుకురావడంలో నిరంతరం ప్రయత్నిస్తూ ఉంటారు. విశ్వవిద్యాలయంలో కొత్త తరం సాకెంతికథలను (టెక్నాలజీస్) నెలకొప్లాడమ్ కోసం స్టార్ట్-అప్ సెంటర్ లను ఏర్పాటు చేయించడంలో 
                          ఇంజినీరింగ్ కళాశాల విజయం సాధించడంలో వీరి దూరదృష్టి అందరి అభినందనలూ పొందడం పేర్కొనదగిన విశేషం. 
                          ఆచార్య  ప్రసాదరెడ్డి ఆవరణలో పర్యావరణ వ్యవస్థను పెంపొందించడంలో సహాయం చేయడం మరో ప్రత్యేక అంశం. ఎన్నో విశేషమైన గుర్తింపులను, పురస్కారాళ్ను పొందిన ఆచార్య రెద్ద్య్గారు తెలుగుతో సహా భాషా విభాగాల అభివృద్ధికి కూడా సమాన సహాయ సహకారాలు అందించడం కొనియాడదగినది.
                          </p></center>
                      </div>
              
                </div>
           </div>
           <div class="gue">
                <button onclick="on2()">
                    <div class="guest">
                        <h3>డా. మూర్తి రేమెళ్ళ</h3>
                        <img src="murthy.jpg" alt="murthy">
                    </div>
                </button>
                <div id="guestinfo2">
                    <div class="ca">
                        <svg onclick="off2()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        <img src="murthy.jpg">
                        <center><h4>డా. మూర్తి రేమెళ్ళ</h4></center>
                        <center style="margin-top: 10%;"><p>సాంకేతిక, వ్యాపార మరియు నిర్వాహక డొమైన్‌లను కవర్ చేసే 25 సంవత్సరాల క్రాస్ ఫంక్షనల్ అనుభవంతో విభిన్నమైన కెరీర్ గ్రాఫ్‌తో ఇస్రోలో సీనియర్ సైంటిస్ట్/ఇంజనీర్.</p></center>
                      </div>
              
                </div>
            </div>
            <div class="gue">
                <button onclick="on3()">
                    <div class="guest">
                        <img src="dany.jpeg" alt="ramabramham">
                        <h3>డేనియల్ నెజర్స్</h3>
                    </div>
                </button>
                <div id="guestinfo3">
                    <div class="ca">
                        <svg onclick="off3()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        <img src="dany.jpeg" alt="">
                        <center><h4>డేనియల్ నెజర్స్</h4></center>
                        <center style="margin-top: 10%;"><p>ఫ్రాన్స్ దేశంలో  పారిస్ లో జన్మించిన ప్రొఫెసర్ డానియల్ నేజర్స్ తెలుగులో విశేష కృషిచేసి అనర్గళంగా తెలుగు మాట్లాడగలిగిన ఒక విశిష్ట విదేశీ తెలుగు పండితుడు. 70వ దశకంలో భారతదేశానికి పర్యాటకుడిగా వచ్చిన డేనియల్ తెలుగు భాషా సంస్కృతులకు ముగ్ధుడై మళ్లీ 1983లో తన భార్యతో కలిసి వచ్చినప్పుడు బుర్రకథ మీద పరిశోధనలు ప్రారంభించి కొనసాగించి తెలుగుతో మమేకం అయిపోయారు. గురజాడ అప్పారావు పాల్కురికి సోమన రావూరి భరద్వాజ వంటి తెలుగు రచయితల రచనలను క్షుణ్ణంగా పఠించి పరిశీలించిన ఈ ప్రొఫెసర్ ప్రస్తుతం ఫ్రాన్స్ లో విదేశీ భాష సంస్కృతుల జాతీయ అధ్యయన సంస్థలు ఆచార్యులుగా పనిచేస్తున్నారు.  భారతదేశ నుంచి ఇదే ఇతర దేశాల . ఎన్నో బిరుదులు సన్మానాలు పొందిన వేరు మాట్లాడుతుంటే ఒక విదేశీయుడు అని నమ్మశక్యంగా ఉండ.వేమన పద్యాలను ఫ్రెంచి భాషలోకి అనువదించడమే కాకుండా ఫ్రెంచ్-తెలుగు నిఘంటువును కూడా తయారు చేశారు ఈ విశిష్ట విదేశీ తెలుగు పండితులు.</p></center>
                      </div>
              
                </div>
            </div>
            <div class="gue">
                <button onclick="on4()">
                    <div class="guest">
                        <h3>శ్రీ శలాక రఘునాథ శర్మ </h3>
                        <img src="sharma.jpg" alt="raghunath-sharma">
                    </div>
                </button>
                <div id="guestinfo4">
                    <div class="ca">
                        <svg onclick="off4()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        <img src="sharma.jpg" alt="">
                        <center><h4>శ్రీ శలాక రఘునాథ శర్మ</h4></center>
                        <center style="margin-top: 10%"><p>శలాక రఘునాథశర్మ పండితుడు, కవి, రచయిత, శతాధిక గ్రంథకర్త, ప్రవచనకర్త.ఇతడు 1960-65 మధ్యకాలంలో గౌతమీ విద్యాపీఠంలో తెలుగు పండితుడిగా పనిచేశాడు. తరువాత హైదరాబాదులో ప్రాచ్యకళాశాలలో ఒక సంవత్సరం ఉపన్యాసకుడిగా సేవలను అందించాడు.</p></center>
                      </div>
              
                </div>
            </div>
            <div class="gue">
                <button onclick="on5()">
                    <div class="guest">
                        <img src="busi.jpg" alt="venkata-swamy">
                        <h3>డా. బూసి వెంకటస్వామి </h3>
                    </div>
                </button>
                <div id="guestinfo5">
                    <div class="ca">
                        <svg onclick="off5()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        <img src="busi.jpg" alt="">
                        <center><h4>డా. బూసి వెంకటస్వామి</h4></center>
                      </div>
              
                </div>
            </div>
            
            <div class="gue">
                <button onclick="on7()">
                    <div class="guest">
                        <h3>డా. కిశోర్ జంధ్యాల</h3>
                        <img src="kishore.jpg" alt="kishore">
                    </div>
                </button>
                <div id="guestinfo7">
                    <div class="ca">
                        <svg onclick="off7()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        <img src="kishore.jpg" alt="">
                        <center><h4>డా. కిశోర్ జంధ్యాల
                        </h4></center>
                        <center style="margin-top: 10%"><p>భారత అంతరిక్ష విభాగం ఇస్రోలో శాస్త్రవేత్తగా పనిచేస్తున్నారు డాక్టర్ కృష్ణ కిషోర్ జంధ్యాల. ఎన్నో ఉపగ్రహాల రూపకల్పనలో వాటి వినియోగంలో తన వంతు పాత్ర పోషించారు. తమ తల్లిదండ్రులు విజయవాడ నుంచి 5 దశాబ్దాలు ముందుగానే బెంగళూరు వచ్చి స్థిరపడిన బెంగళూరులో  వీరు పెరిగారు. అయినా తెలుగు పై ఉన్న మక్కువతో తెలుగు భాషను నేర్చుకొని తెలుగు గ్రంథాలను చదవడమే కాకుండా ఈ తెలుగు భాషకు సంస్కృతం తమిళం లాగా అంతర్జాతీయ గుర్తింపు రావాలని తెలుగు భాషలో కంప్యూటర్లో వినియోగం సాంకేతికత వినియోగం పెరగాలనేది వీరి అభిలాష. 2012 లో విశాఖపట్నంలో జరిగిన గ్లోబల్ ఇంటర్నెట్ ఫోరం ఫర్ తెలుగు - గిఫ్ట్ (GIFT) సమావేశాల్లో వీరు ఈ అంశం మీద తమ పరిశోధనా పత్రాన్ని సమర్పించారు. విశ్వవిద్యాలయాల ఆధ్వర్యంలో వార్షిక తెలుగు సమావేశాలు జరగాలి అనేది వీరి ఆకాంక్ష. తద్వారా పరిశోధన విద్యార్థులకు తెలుగు నేర్చుకున్న వారికి ఉద్యోగ అవకాశాలకి ఒక వేదిక కావాలన్నా తన చిరకాల వాంఛ ఈ సమావేశాల ద్వారా తీరడం మొదలైనందుకు సంతోషం వ్యక్తం చేస్తున్నారు</p></center>
                      </div>
              
                </div>
            </div>

            <div class="gue">
              <button onclick="on8()">
                  <div class="guest">
                      <img src="sita.jpg" alt="sitaratnam">
                      <h3>ఆచార్య అయ్యగారి సీతారత్నం</h3>
                  </div>
              </button>
              <div id="guestinfo8">
                  <div class="ca">
                      <svg onclick="off8()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                      <img src="sita.jpg" alt="">
                      <center><h4>ఆచార్య అయ్యగారి సీతారత్నం
                      </h4></center>
                      <center style="margin-top: 10%"><p>ఆచార్య అయ్యగారి సీతారత్నం ప్రస్తుతం ఆంధ్ర విశ్వ కళాపరిషత్ తెలుగు విభాగంలో ప్రొఫెసర్ గా, బోర్డ్ ఆఫ్ స్టడీస్ చైర్ పర్సన్ గా పని చేస్తున్నారు. వీరికి 33 సంవత్సరాలు బోధనానుభవం, 25 సంవత్సరాల పరిశోధనా అనుభవం కలదు. కథ ,నవల, వ్యాస రచయిత్రి. వివిధ పత్రికల్లో సుమారు60పైబడికథలు,మూడునవలలు అనేక వ్యాసాలు ప్రచురితమయ్యాయి. 60 జాతీయ అంతర్జాతీయ సదస్సుల్లో పత్ర సమర్పణ చేశారు. వందకు పైబడిసాహితీ  ప్రసంగాలు,అనేక జెండర్ సమానత్వ ప్రసంగాలు, అనేక రేడియో ప్రసంగాలు చేశారు. ఏపీ .హెచ్ .ఆర్. డి విశాఖపట్నంపోర్ట్ట్రస్ట్,డి.ఎఫ్.డబ్ల్యు.సి,జీ.ఎస్.ఎస్ మొదలైన సంస్థలకు రిసోర్స్ పర్సన్ గా వ్యవహరిస్తున్నారు.</p></center>
                    </div>
            
              </div>   
            </div>
            <div class="gue">
              <button onclick="on9()">
                  <div class="guest">
                    <h3>సున్నపురాళ్ళ షణ్ముఖ</h3>
                      <img src="shan.jpg" alt="sitaratnam">
                  </div>
              </button>
              <div id="guestinfo9">
                  <div class="ca">
                      <svg onclick="off9()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                      <img src="shan.jpg" alt="">
                      <center><h4>సున్నపురాళ్ళ షణ్ముఖ
                      </h4></center>
                      <center style="margin-top: 10%;"><p>భావితరాలకు దిక్సూచిగా నిలిచే 'తెలుగు' భాష స్ఫూర్తిని, ఉనికిని నిలబెట్టడానికి యువ ఉద్యమకారుడు షణ్ముఖ సున్నపురాళ్ల తన వంతు కృషి చేస్తున్నారు.భాషను నేర్చుకునేటప్పుడు మన భావి తరాలు ఇటువంటి అడ్డంకులను ఎదుర్కోకూడదని ఆయన కోరుకుంటున్నారు. గ్రంథాలయాలు, విశ్వవిద్యాలయాలను సందర్శించి పండితుల గురించి సమాచారం సేకరించినప్పుడు ఆయన ఎదుర్కొన్న కొన్ని సంఘటనలు కూడా ఆయనను తన లక్ష్యానికి కట్టుబడి ఉండేలా చేశాయి. అతను ప్రశ్నలు వేసినప్పుడు అతి తక్కువ సమాధానాలు మరియు సూచనలను విని అలసిపోయాడు మరియు తద్వారా సమాజంలో మార్పు తీసుకురావాలని నిర్ణయించుకున్నాడు</p></center>
                    </div>
            
              </div>   
            </div>
            <div class="gue">
              <button onclick="on10()">
                  <div class="guest">
                    <img src="kanna.jpg" alt="sitaratnam">
                    <h3>పి.కన్నయ్య</h3>
                      
                  </div>
              </button>
              <div id="guestinfo10">
                  <div class="ca">
                      <svg onclick="off10()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                      <img src="" alt="">
                      <center><h4>పి.కన్నయ్య
                      </h4></center>
                      <center style="margin-top: 10%;"><p>సమైక్య భారతి జాతీయ సమన్వయ కర్త
                      </p></center>
                    </div>
            
              </div>   
            </div>
            <div class="gue">
              <button onclick="on11()">
                  <div class="guest">
                    <h3>ఆకెళ్ల వెంకట వర ప్రసాద్(ఎ.వి.వి.ప్రసాద్)</h3>
                    <img src="prasad.jpg.jpg" alt="sitaratnam">
                  </div>
              </button>
              <div id="guestinfo11">
                  <div class="ca">
                      <svg onclick="off11()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                      <img src="prasad.jpg" alt="">
                      <center><h4>ఆకెళ్ల వెంకట వర ప్రసాద్(ఎ.వి.వి.ప్రసాద్)</h4></center>
                      <center style="margin-top: 10%;"><p>వార్త దినపత్రిక లో ఉప సంపాదకులు. జర్నలిజంలో 41 సంవత్సరాల అనుభవం. తొలుత ఆంధ్రప్రభ లో 21 సంవత్సరాలు, తర్వాత ఎన్ టి వి లో రెండేళ్లు , ఆ తరువాత వార్త దినపత్రిక లో 18 సంవత్సారాలు వివిధ హోదాల్లో ఉద్యోగం.తెలుగులో ఎంఎ , సంస్కృతంలో సాహిత్య విద్యాప్రవీణ విద్యార్హతలు. గుంటూరు ఎసి కాలేజి, సంస్కృత కళాశాల, నాగార్జున విశ్వవిద్యాలయం లో విద్యాభ్యాసం.తెలుగు భాష, తెలుగు కవిత్వం, సామాజిక అంశాలపై విస్తృతమైన అవగాహన, అధ్యయనం.  వివిధ పత్రికలలో ఇప్పటికి 6, 500 పైగా వ్యాసాలు రచించడం జరిగింది.మూడు పుస్తకాలు. 1. రాఘవేంద్ర శతకం.  2. అరాజకీయం.. కవితా సంపుటి. 3. వ్యాసాల సంకలనం " మూడో కన్ను" ప్రచురితమయ్యాయిసాహిత్య  విశ్లేషణ, విమర్శ లు దాదాపు అన్ని పత్రికల్లో ప్రచురితమయ్యాయి.ఉత్తమ పాత్రికేయ శిరోమణి, బెస్ట్ జర్నలిస్టు అవార్డులు రెండు సార్లు అందుకోవడం జరిగింది.తెలుగు భాషోత్సవాలలో ప్రసంగించడానికి ఆహ్వానించిన ఆంధ్ర విశ్వవిద్యాలయం తెలుగు శాఖ, సమైక్య భారతి నిర్వాహకులకు ధన్యవాదాలు.
                      </p></center>
                    </div>
              </div>   
            </div>
          </div>
        </div>
    </center>
    <!-- guestspc -->
    <div class="guestspc" id="team">
        <div class="call">
            <div class="cal">
              <div class="ca">
                <img src="appa.jpg" alt="">
                <center><h4>ఆచార్య శ్రీ జర్రా అప్పారావు గారు
                </h4></center>
              </div>
              <div class="ca">
                <img src="reddy.jpg">
                <center><h4>శ్రీ PVGD ప్రసాద రెడ్డి</h4></center>
                <center><p style="margin-top: 10%;font-size: 15px;">ఆచార్య పి.వి.జి.డి. ప్రసాద్‌రెడ్డి విద్యా శిక్షణలో  అభిరుచి గల ఒక మంచి ఉపాధ్యాయుడు. సమాచార సాంకేతిక రంగం లో నిష్ణాతుడైన ఈయన విద్యాసంస్థల నిర్వహణలో మంచి  
                  నిష్ణాతుడు కూడా. ఆంధ్ర విశ్వకళా పరిషత్ (ఆంధ్రా యూనివర్సిటీ) ఉపకులపతి (వైస్ ఛాన్సలర్‌)గా ఉన్న ఆచార్య ప్రసాద రెడ్డి గారు పరిశ్రమలతో అనుసంధానం ద్వారా  విశ్వవిద్యాలయం లోని విద్యార్థులకు , విద్యా వ్యవస్థకు నూతన మార్గదర్శకత్వం వహించి తండైన బాటలో నాయకత్వం వహించడం ప్రత్యేకతగా కలిగి ఉన్నారు.  
                </p></center>
              </div>
              <div class="ca">
                <img src="murthy.jpg">
                <center><h4>డా. మూర్తి రేమెళ్ళ</h4></center>
                <center style="margin-top: 10%;"><p>సాంకేతిక, వ్యాపార మరియు నిర్వాహక డొమైన్‌లను కవర్ చేసే 25 సంవత్సరాల క్రాస్ ఫంక్షనల్ అనుభవంతో విభిన్నమైన కెరీర్ గ్రాఫ్‌తో ఇస్రోలో సీనియర్ సైంటిస్ట్/ఇంజనీర్.</p></center>
              </div>
              <div class="ca">
                <img src="dany.jpeg" alt="">
                <center><h4>డేనియల్ నెజర్స్</h4></center>
                <center style="margin-top: 10%;"><p>ఫ్రాన్స్ దేశంలో  పారిస్ లో జన్మించిన ప్రొఫెసర్ డానియల్ నేజర్స్ తెలుగులో విశేష కృషిచేసి అనర్గళంగా తెలుగు మాట్లాడగలిగిన ఒక విశిష్ట విదేశీ తెలుగు పండితుడు. 70వ దశకంలో భారతదేశానికి పర్యాటకుడిగా వచ్చిన డేనియల్ తెలుగు భాషా సంస్కృతులకు ముగ్ధుడై మళ్లీ 1983లో తన భార్యతో కలిసి వచ్చినప్పుడు బుర్రకథ మీద పరిశోధనలు ప్రారంభించి కొనసాగించి తెలుగుతో మమేకం అయిపోయారు. </p></center>
              </div>
              <div class="ca">
                <img src="sharma.jpg" alt="">
                <center><h4>శ్రీ శలాక రఘునాథ శర్మ</h4></center>
                <center style="margin-top: 10%"><p>శలాక రఘునాథశర్మ పండితుడు, కవి, రచయిత, శతాధిక గ్రంథకర్త, ప్రవచనకర్త.ఇతడు 1960-65 మధ్యకాలంలో గౌతమీ విద్యాపీఠంలో తెలుగు పండితుడిగా పనిచేశాడు. తరువాత హైదరాబాదులో ప్రాచ్యకళాశాలలో ఒక సంవత్సరం ఉపన్యాసకుడిగా సేవలను అందించాడు.</p></center>
              </div>
              <div class="ca">
                <img src="busi.jpg" alt="">
                <center><h4>డా. బూసి వెంకటస్వామి</h4></center>
              </div>
              
              <div class="ca">
                <img src="kishore.jpg" alt="">
                <center><h4>డా. కిశోర్ జంధ్యాల
                </h4></center>
                <center style="margin-top: 10%;"><p>భారత అంతరిక్ష విభాగం ఇస్రోలో శాస్త్రవేత్తగా పనిచేస్తున్నారు డాక్టర్ కృష్ణ కిషోర్ జంధ్యాల. అయినా తెలుగు పై ఉన్న మక్కువతో తెలుగు భాషను నేర్చుకొని తెలుగు గ్రంథాలను చదవడమే కాకుండా ఈ తెలుగు భాషకు సంస్కృతం తమిళం లాగా అంతర్జాతీయ గుర్తింపు రావాలని తెలుగు భాషలో కంప్యూటర్లో వినియోగం సాంకేతికత వినియోగం పెరగాలనేది వీరి అభిలాష.</p></center>
              </div>
              <div class="ca">
                <img src="sita.jpg" alt="sitaratnam">
                <center><h4>ఆచార్య అయ్యగారి సీతారత్నం
                </h4></center>
                <center style="margin-top: 10%"><p>ఆచార్య అయ్యగారి సీతారత్నం ప్రస్తుతం ఆంధ్ర విశ్వ కళాపరిషత్ తెలుగు విభాగంలో ప్రొఫెసర్ గా, బోర్డ్ ఆఫ్ స్టడీస్ చైర్ పర్సన్ గా పని చేస్తున్నారు. వీరికి 33 సంవత్సరాలు బోధనానుభవం, 25 సంవత్సరాల పరిశోధనా అనుభవం కలదు.కథ ,నవల, వ్యాస రచయిత్రి. వివిధ పత్రికల్లో సుమారు60పైబడికథలు,మూడునవలలు అనేక వ్యాసాలు ప్రచురితమయ్యాయి.</p></center>
              </div>
              <div class="ca">
                <img src="shan.jpg" alt="sitaratnam">
                <center><h4>సున్నపురాళ్ళ షణ్ముఖ
                </h4></center>
                <center style="margin-top: 10%,font-size:15px"><p>భావితరాలకు దిక్సూచిగా నిలిచే 'తెలుగు' భాష స్ఫూర్తిని, ఉనికిని నిలబెట్టడానికి యువ ఉద్యమకారుడు షణ్ముఖ సున్నపురాళ్ల తన వంతు కృషి చేస్తున్నారు.భాషను నేర్చుకునేటప్పుడు మన భావి తరాలు ఇటువంటి అడ్డంకులను ఎదుర్కోకూడదని ఆయన కోరుకుంటున్నారు. గ్రంథాలయాలు, విశ్వవిద్యాలయాలను సందర్శించి పండితుల గురించి సమాచారం సేకరించినప్పుడు ఆయన ఎదుర్కొన్న కొన్ని సంఘటనలు కూడా ఆయనను తన లక్ష్యానికి కట్టుబడి ఉండేలా చేశాయి.</p></center>
              </p></center>
              </div>
              <div class="ca">
                <img src="kanna.jpg" alt="kannaiah">
                <center><h4>పి.కన్నయ్య
                </h4></center>
                <center style="margin-top: 10%"><p>సమైక్య భారతి జాతీయ సమన్వయ కర్త</p></center>
              </p></center>
              </div>
              <div class="ca">
                <img src="prasad.jpg" alt="kannaiah">
                <center><h4>ఆకెళ్ల వెంకట వర ప్రసాద్(ఎ.వి.వి.ప్రసాద్)
                </h4></center>
                <center style="margin-top: 10%,font-size:15px"><p>వార్త దినపత్రిక లో ఉప సంపాదకులు. జర్నలిజంలో 41 సంవత్సరాల అనుభవం. తొలుత ఆంధ్రప్రభ లో 21 సంవత్సరాలు, తర్వాత ఎన్ టి వి లో రెండేళ్లు , ఆ తరువాత వార్త దినపత్రిక లో 18 సంవత్సారాలు వివిధ హోదాల్లో ఉద్యోగం.తెలుగులో ఎంఎ , సంస్కృతంలో సాహిత్య విద్యాప్రవీణ విద్యార్హతలు. గుంటూరు ఎసి కాలేజి, సంస్కృత కళాశాల, నాగార్జున విశ్వవిద్యాలయం లో విద్యాభ్యాసం.</p></center>
              </p></center>
              </div>
            </div>
          </div>
    </div>
    <!-- poster -->
    <div class="poster">
        <center><img src="poster.jpg" alt="poster"></center>
    </div>

    <!-- events timeline -->
    <center><h2 class="headi">కారయక్రమం టూకీగ</h2></center>
    <div class="timeline" id="timeline">
      <div id="einfo1">
        <button class="eb" onclick="eoff1()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="black" class="bi bi-x-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </button>
        
        <div class="table1" >
          <h3>మందిరం-1: ఫిబ్రవరి 21, 2023</h3>
          <table class="table tt">
           <thead class="thead-dark t">
           <tr><th scope="col">ప్రదర్శనలు</th><th scope="col">సమయం</th></tr>
           </thead>
           <tbody class="t1">
           <tr><td class="dap2">తెలుగుభాషలో జరుతున్న పరిశోధనలు- పోకడలు</td><td>14:00pm-15:30pm</td></tr>
           <tr><td>1.ఆచార్య వెలుదండ నిత్యానంద రావు</td><td></td></tr>
           <tr><td>2. డా. కట్టేపోగు రత్న శేఖర్</td><td></td></tr>
           <tr><td>3.డా. తారాపట్ల సత్యనారాయణ</td><td></td></tr>
           <tr><td>4.డా. డి.‌వి సూర్యారావు</td><td></td></tr>
           <tr><td>5.డా.మరడాన సుబ్బారావు</td><td></td></tr>
           <tr><td class="dap2">తెలుగుభాష అంతర్జాల – సాంకేతిక వినియోగం</td><td>15:30pm-17:00pm</td></tr>
           <tr><td>1.డా. బూసి వెంకట స్వామి</td><td></td></tr>
           <tr><td>2.డా.పి. రాజేశ్వర రావు</td><td></td></tr>
           <tr><td>3.డా. జే‌కే కిశోర్</td><td></td></tr>
           <tr><td>4.ఆచార్య కప్పగంతుల శ్రీనివాస్, న్యూ ఢిల్లీ</td><td></td></tr>
           <tr><td>5.డా. సూర్యనారాయణ</td><td></td></tr>
           <tr><td>6.డా.భైరవభట్ల విజయాదిత్య</td><td></td></tr>
            </tbody>
           </table> 
        </div>

    
    
    

        
        <div class="table1" >
          <h3>మందిరం-1: ఫిబ్రవరి 22,2023</h3>
          <table class="table tt">
           <thead class="thead-dark t">
           <tr><th scope="col">ప్రదర్శనలు</th><th scope="col">సమయం</th></tr>
           </thead>
           <tbody class="t1">
           <tr><td class="dap2">ప్రసార మాధ్యమాల్లో తెలుగు భాషా విశేషాలు</td><td>09:00am-10:30am</td></tr>
           <tr><td>1.ఆచార్య జీ యోహన్ బాబు</td><td></td></tr>
           <tr><td>2.శ్రీ సూర్యప్రకాశ రావు గారు</td><td></td></tr>
           <tr><td>3.తెలుగు మీడియాలో భాషాప్రమాణాలు-శ్రీ ఏ‌వి‌వి</td><td></td></tr>
           <tr><td>4.శ్రీ బి ఆర్ ప్రసాద్</td><td></td></tr>
           <tr><td>5.శ్రీ రాజులపాటి శివయ్య</td><td></td></tr>
           <tr><td>6.శ్రీమతి ఇంద్రాణి, హైదరాబాద్</td><td></td></tr>
           <tr><td class="dap2">పొదుపు కథలు, సామెతలు భాషానుశీలన</td><td>10:30am-12:00pm</td></tr>
           <tr><td>1.డా. పెండ్యాల లావణ్య</td><td></td></tr>
           <tr><td>2.డా. గుమ్మా సాంబశివరావు</td><td></td></tr>
           <tr><td>3.డా. మూర్తి రేమెళ్ళ</td><td></td></tr>
           <tr><td>4.డా. ఆకెళ్ళ విభీషణ శర్మ </td><td></td></tr>
           <tr><td>5.శ్రీ ఎల్ గిరీష్ కుమార్</td><td></td></tr>
           <tr><td class="dap2">తెలుగు జానపద – గిరిజన్ బాల సాహిత్య వికాశాలు</td><td>12:00pm-13:30pm</td></tr>
           <tr><td>1.ఆచార్య జర్రా అప్పారావు</td><td></td></tr>
           <tr><td>2.ఆర్. కుసుమ కుమారి</td><td></td></tr>
           <tr><td>3.డా. శ్రీహరి సాహు</td><td></td></tr>
           <tr><td>4.శ్రీటి‌వి రామకృష్ణ</td><td></td></tr>
           <tr><td>5.శ్రీ ఎన్‌కే బాబు</td><td></td></tr>
           <tr><td>6.డా.మంజులూరి కృష్ణకుమారి</td><td></td></tr>
           <tr><td class="dap2">తెలుగు భాషా బోధన- శాస్త్రీయ దృక్పథం</td><td>14:30pm-15:30pm</td></tr>
           <tr><td>1.డా. అన్నంశెట్టి ఈశ్వరమ్మ</td><td></td></tr>
           <tr><td>2.డా. గోపాలనాయుడు</td><td></td></tr>
           <tr><td>3. డా. ఎస్. పోలయ్య</td><td></td></tr>
           <tr><td>4.డా. పేర్లి దాసు</td><td></td></tr>
           <tr><td>5.డా. డిల్లీశ్వర రావు</td><td></td></tr>
           <tr><td>6.డా. రాధమ్మ</td><td></td></tr>
           <tr><td class="dap2">సంయుక్త ముగింపు సమావేశం</td><td>15:30pm-16:30pm</td></tr>
            </tbody>
           </table> 
        </div>

    
    

        
        <div class="table1" >
          <h3>మందిరం-2: ఫిబ్రవరి 21,2023</h3>
          <table class="table tt">
           <thead class="thead-dark t">
           <tr><th scope="col">ప్రదర్శనలు</th><th scope="col">సమయం</th></tr>
           </thead>
           <tbody class="t1">
           <tr><td class="dap2">ప్రాచీన సాహిత్య భాషా విశేషాలు 
          </td><td>14:00pm-15:30pm</td></tr>
           <tr><td>1.ఆటుకూరి వెంకటేశ్వర్లు (యోగి)</td><td></td></tr>
           <tr><td>2.డా. ప్రవీణ</td><td></td></tr>
           <tr><td>3.డా. కృష్ణవేణి </td><td></td></tr>
           <tr><td>4.డా. పి. మాసిలామణి</td><td></td></tr>
           <tr><td>5.డా. మరడాన శ్రీనివాసరావు </td><td></td></tr>
           <tr><td>6.డా. మోకా ప్రతాపు</td><td></td></tr>
           <tr><td class="dap2">ఆధునిక సాహిత్య భాషా విశేషాలు</td><td>15:30pm-17:00pm</td></tr>
           <tr><td>1.ఆచార్య అయ్యగారి సీతారత్నం</td><td></td></tr>
           <tr><td>2.డా. జి. మాలతి
          </td><td></td></tr>
           <tr><td>3.డా. పులపర్తి శ్రీనివాసరావు
          </td><td></td></tr>
           <tr><td>4.శ్రీ కోష్టు గోవిందరావు</td><td></td></tr>
           <tr><td>5.శ్రీ మొండి స్వామి</td><td></td></tr>
           <tr><td>6. డా. పి.దాసు
          </td><td></td></tr>
            </tbody>
           </table> 
        </div>

        
        <div class="table1" >
          <h3>మందిరం-2: ఫిబ్రవరి 22,2023</h3>
          <table class="table tt">
           <thead class="thead-dark t">
           <tr><th scope="col">ప్రదర్శనలు</th><th scope="col">సమయం</th></tr>
           </thead>
           <tbody class="t1">
           <tr><td class="dap2">తెలుగు పుస్తక ప్రచురణ – ప్రాచుర్యం- పోకడలు</td><td>09:00am-10:30am</td></tr>
           <tr><td>1.శ్రీ సి. మనోహర నాయుడు, విశాలాంధ్ర</td><td></td></tr>
           <tr><td>2.శ్రీసున్నపురాళ్ళ షణ్ముఖ, కదిరి</td><td></td></tr>
           <tr><td>3.శ్రీ ఇందురమణ, సాహో పత్రిక</td><td></td></tr>
           <tr><td>4. శ్రీ వి.వి. రమణమూర్తి , లీడర్ పత్రిక</td><td></td></tr>
           <tr><td class="dap2">విదేశాల్లో తెలుగుభాషా బోధన-సంస్కృతుల వ్యాప్తి</td><td>10:30am-12:00pm</td></tr>
           <tr><td>1.అమెరికాలో తెలుగు - సిలికానాంధ్ర కృషి- శ్రీ ఆనంద్ కూచిభొట్ల</td><td></td></tr>
           <tr><td>2.మారిషస్ – శ్రీ సంజీవ నరసింహ అప్పడు</td><td></td></tr>
           <tr><td>3.షిగాగో లో తెలుగు వెలుగులు-డా. శారదాపూర్ణ శొంఠి</td><td></td></tr>
           <tr><td>4.IBM - శ్రీ మల్లిక్ పుచ్చా - యూ‌ఎస్‌ఏ</td><td></td></tr>
           <tr><td>5.డా. శ్రీదేవీ శ్రీకాంత్, బోట్స్వానా, ఆఫ్రికా</td><td></td></tr>
           <tr><td>6.శ్రీ కె. మల్లికేశ్వర రావు, ఆస్ట్రేలియా</td><td></td></tr>
           <tr><td class="dap2">తెలుగు భాషా పరిరక్షణా - ఆవశ్యకత - సూచనలు</td><td>12:00pm-13:30pm</td></tr>
           <tr><td>1.ఆచార్య వెలమల సిమ్మన్న
          </td><td></td></tr>
           <tr><td>2.డా. ఆర్. రామకృష్ణ శాస్త్రి</td><td></td></tr>
           <tr><td>3.డా. నేమాని శారద
          </td><td></td></tr>
           <tr><td>4.డా. డేనియల్ నేజర్స్, ప్యారిస్</td><td></td></tr>
           <tr><td>5.డా. కొంపెల్ల శర్మ, తెలుగు రథం</td><td></td></tr>
           <tr><td>6.శ్రీ షేక్ బడే సాహెబ్</td><td></td></tr>
           <tr><td class="dap2">శాస్త్రీయ సంగీతం, పద్య, గేయ సాహిత్యం - తెలుగు భాషా విశేషాలు</td><td>14:30pm-15:30pm</td></tr>
           <tr><td>1.శాస్త్రీయ సంగీతం ద్వారా తెలుగు పరివ్యాప్తి</td><td></td></tr>
           <tr><td>2.డా. ఎస్. అనూరాధ, HOD, సంగీత విభాగం</td><td></td></tr>
           <tr><td>3.డా. పి.కె. జయలక్ష్మీ</td><td></td></tr>
           <tr><td>4.శ్రీ కుప్పిశెట్టి కుశారావు
          </td><td></td></tr>
           <tr><td class="dap2">సంయుక్త ముగింపు సమావేశం
          </td><td>15:00pm-16:00pm</td></tr>
            </tbody>
           </table> 
        </div>
      </div>
    
      
          
             
    
        <div class="dir">
          <div class="cardf">
            <div class="cardi">
              <div class="cf cff">
                <h4>శ్రీకృష్ణదేవరాయ ప్రాంగణం
                  (TLN సభ హాల్)
                  </h4>
                  <div class="more">
                    <h5>(మొదటి రోజు)</h5>
                    <h6>ఫిబ్రవరి 22,2023</h6>
                  </div>
                  <div class="tall">
                    <p>ప్రారంభోత్సవం (శ్రీకృష్ణదేవరాయ ప్రాంగణం)</p>
                    <table>
                      <thead>
                      <tr><th>కార్యక్రమం</th><th>సమయం</th></tr>
                      </thead>
                      <tbody>
                      <tr><td>తెలుగు భాషా పరిరక్షణా ఆవశ్యకత-సూచనలు</td><td>12:00pm</td></tr>
                      <tr><td>తెలుగుభాషలో జరుతున్న పరిశోధనలు- పోకడలు</td><td>14:00pm</td></tr>
                      <tr><td>తెలుగు పుస్తక ప్రచురణ – ప్రాచుర్యం- పోకడలు</td><td>15:30pm</td></tr>
                      </tbody>
                      </table>  
                    <div class="thippu">రెండవ రోజు కోసం👈</div>
                  </div>                  
              </div>
              <div class="cf cfb">
                <h4>శ్రీకృష్ణదేవరాయ ప్రాంగణం
                  (TLN సభ హాల్)
                  </h4>
                  <div class="more">
                    <h5>(రెండవ రోజు)</h5>
                    <h6>ఫిబ్రవరి 22,2023</h6>
                    </div>
                  <div class="tall1">
                    <p>ప్రారంభోత్సవం (శ్రీకృష్ణదేవరాయ ప్రాంగణం)</p>
                    <table>
                      <thead>
                      <tr><th>కార్యక్రమం</th><th>సమయం</th></tr>
                      </thead>
                      <tbody>
                        <tr><td>తెలుగు కవిత్వం- ఆధునిక ధోరణులు - భాషా విశేషాలు</td><td>09:30am</td></tr>
                      <tr><td>తెలుగు సామెతలు, పొడుపుకథలు – భాషా వ్యాప్తి</td><td>11:00am</td></tr>
                      <tr><td>తెలుగులో జానపద, గిరిజన/ఆదివాసీ విజ్ఞానం</td><td>12:00pm</td></tr>
                      <tr><td>విదేశాల్లో తెలుగుభాషా బోధన – సంస్కృతుల వ్యాప్తికి కృషి</td><td>14:00pm</td></tr>
                      <tr><td>సంయుక్త ముగింపు సమావేశం (శ్రీకృష్ణదేవరాయ ప్రాంగణం)</td><td>15:00pm</td></tr>
                      </tbody>
                      </table>  
                      <div class="thippu">మొదటి రోజు కోసం👈</div>
                  </div>
              </div>
            </div>
          </div>
    
          <div class="cardf">
            <div class="cardi">
              <div class="cf cff">
                <h4>సి‌పి బ్రౌన్ ప్రాంగణం</h4>
                <div class="less">
                <h5>(మొదటి రోజు)</h5>
                <h6>ఫిబ్రవరి 21,2023</h6>
                </div>
                <div class="ta">
                  <p>ప్రారంభోత్సవం (శ్రీకృష్ణదేవరాయ ప్రాంగణం)</p>
                  <table>
                    <thead>
                    <tr><th>కార్యక్రమం</th><th>సమయం</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>తెలుగుభాష అంతర్జాల వినియోగం</td><td>12:00pm</td></tr>
                    <tr><td>శాస్త్రీయ సంగీతం, పద్య, గజల్ రూపాలు - తెలుగు భాషా విశేషాలు</td><td>14:00pm</td></tr>
                    <tr><td>తెలుగు భాషాబోధన - పరిశోధనల్లో శాస్త్ర సాంకేతిక సాధనాల వినియోగం</td><td>15:30pm</td></tr>
                    </tbody>
                    </table> 
                    <div class="thippu">రెండవ రోజు కోసం👈</div>
                </div>
              </div>
              <div class="cf cfb">
                <h4>సి‌పి బ్రౌన్ ప్రాంగణం</h4>
                <div class="less">
                <h5>(రెండవ రోజు)</h5>
                <h6>ఫిబ్రవరి 22,2023</h6>
                </div>
                <div class="ta">
                  <p>ప్రారంభోత్సవం (శ్రీకృష్ణదేవరాయ ప్రాంగణం)</p>
                  <table>
                    <thead>
                    <tr><th>కార్యక్రమం</th><th>సమయం</th></tr>
                    </thead>
                    <tbody>
                      <tr><td>ప్రసార మాధ్యమాల్లో తెలుగు భాషా విశేషాలు</td><td>09:30am</td></tr>
                    <tr><td>పత్రికలలో తెలుగు భాషా పట్టభద్రులకు అవకాశాలు</td><td>11:00am</td></tr>
                    <tr><td>తెలుగు భాషాబోధన - పరిశోధనల్లో శాస్త్ర సాంకేతిక సాధనాల వినియోగం-సూచనలు</td><td>12:00pm</td></tr>
                    <tr><td>తెలుగును పరిరక్షించుకో వడంలో ఇక్కట్లు- సూచనలు-సలహాలు- కార్యాచరణ</td><td>14:00pm</td></tr>
                    <tr><td>సంయుక్త ముగింపు సమావేశం (శ్రీకృష్ణదేవరాయ ప్రాంగణం)</td><td>15:00pm</td></tr>
                    </tbody>
                    </table>  
                    <div class="thippu">మొదటి రోజు కోసం👈</div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="cardf">
            <div class="cardi">
              <div class="cf cff">
                <h4>కట్టమంచి రామలింగారెడ్డి ప్రాంగణం</h4>
                <div class="more">
                  <h5>(మొదటి రోజు)</h5>
                  <h6>ఫిబ్రవరి 21,2023</h6>
                </div>
                <div class="tall">
                  <p>ప్రారంభోత్సవం (శ్రీకృష్ణదేవరాయ ప్రాంగణం)</p>
                  <table>
                    <thead>
                    <tr><th>కార్యక్రమం</th><th>సమయం</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>తెలుగు పరిశోధన: సిద్ధాంత ప్రణాళిక – సూచనలు- పరిష్కరణలు</td><td>12:00pm</td></tr>
                    <tr><td>తెలుగు పరిశోధనా పత్రాలు</td><td>14:00pm</td></tr>
                    <tr><td>తెలుగు పరిశోధనా పత్రాలు  </td><td>15:30pm</td></tr>
                    </tbody>
                    </table> 
                    <div class="thippu">రెండవ రోజు కోసం👈</div>
                </div>
              </div>
              <div class="cf cfb">
                <h4>కట్టమంచి రామలింగారెడ్డి ప్రాంగణం</h4>
                <div class="more">
                  <h5>(రెండవ రోజు)</h5>
                  <h6>ఫిబ్రవరి 22,2023</h6>
                  </div>
                <div class="tall">
                  <p>ప్రారంభోత్సవం (శ్రీకృష్ణదేవరాయ ప్రాంగణం)</p>
                  <table>
                    <thead>
                    <tr><th>కార్యక్రమం</th><th>సమయం</th></tr>
                    </thead>
                    <tbody>
                      <tr><td>తెలుగు పరిశోధనా పత్రాలు</td><td>09:30am</td></tr>
                    <tr><td>తెలుగు పరిశోధనా పత్రాలు</td><td>11:00am</td></tr>
                    <tr><td>తెలుగు పరిశోధనా పత్రాలు</td><td>12:00pm</td></tr>
                    <tr><td>తెలుగు పరిశోధనా పత్రాలు</td><td>14:00pm</td></tr>
                    <tr><td>సంయుక్త ముగింపు సమావేశం (శ్రీకృష్ణదేవరాయ ప్రాంగణం)</td><td>15:00pm</td></tr>
                    
                    </table> 
                    <div class="thippu">మొదటి రోజు కోసం👈</div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="cardf">
            <div class="cardi">
              <div class="cf cff">
                <h4>బమ్మెర పోతన ప్రాంగణం</h4>
                <div class="more">
                  <h5>(మొదటి రోజు)</h5>
                  <h6>ఫిబ్రవరి 21,2023</h6>
                </div>
                <div class="tall">
                  <p>ప్రారంభోత్సవం (శ్రీకృష్ణదేవరాయ ప్రాంగణం)</p>
                  <table>
                    <thead>
                    <tr><th>కార్యక్రమం</th><th>సమయం</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>భాగవతం ఆణిముత్యాలు – పద్య పఠన పోటీలు</td><td>12:00pm</td></tr>
                    <tr><td>భాగవతం ఆణిముత్యాలు – పద్య పఠన పోటీలు</td><td>14:00pm</td></tr>
                    <tr><td>భాగవతం ఆణిముత్యాలు – పద్య పఠన పోటీలు</td><td>15:30pm</td></tr>
                    </tbody>
                    </table>  
                    <div class="thippu">రెండవ రోజు కోసం👈</div>
                </div>
              </div>
              <div class="cf cfb">
                <h4>బమ్మెర పోతన ప్రాంగణం</h4>
                <div class="more">
                <h5>(రెండవ రోజు)</h5>
                <h6>ఫిబ్రవరి 22,2023</h6>
                </div>
                <div class="tall">
                  <p>ప్రారంభోత్సవం (శ్రీకృష్ణదేవరాయ ప్రాంగణం)</p>
                  <table>
                    <thead>
                    <tr><th>కార్యక్రమం</th><th>సమయం</th></tr>
                    </thead>
                    <tbody>
                      <tr><td>భాగవతం ఆణిముత్యాలు – పద్య పఠన పోటీలు</td><td>09:30am</td></tr>
                    <tr><td>భాగవతం ఆణిముత్యాలు – పద్య పఠన పోటీలు</td><td>11:00am</td></tr>
                    <tr><td>భాగవతం ఆణిముత్యాలు – పద్య పఠన పోటీలు</td><td>12:00pm</td></tr>
                    <tr><td>భాగవతం ఆణిముత్యాలు – పద్య పఠన పోటీలు</td><td>14:00pm</td></tr>
                    <tr><td>సంయుక్త ముగింపు సమావేశం (శ్రీకృష్ణదేవరాయ ప్రాంగణం)</td><td>15:00pm</td></tr>
                    </tbody>
                    </table>  
                    <div class="thippu">మొదటి రోజు కోసం👈</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <center><button class="btn btn-dark orey" onclick="eon1()"><p>మరింత సమాచారం కోసం</p></button></center>
    </div>

 

    <!-- forms -->
    <div class="forr" id="reg">
      <center><h2 class="headi">పాల్గోడానికి నామోడు</h2></center>
      <div class="btns">
        <button style="padding-bottom: 10px;" class="btn btn-warning">సందర్సించటానికి</button>
        <button class="btn btn-outline-primary">పాల్గొనడానికి</button>
      </div>
    </div>
    
    <div class="forms">
      
      <form style="display: none;" id="myForm" class="vform" action="/" method="POST">
      <div class="purpose dap">
        <input type="hidden" id="purpose" name="purpose" value="visiting" required>
        </div>
        <div class="name dap">
            <label for="name">పేరు:</label>
            <input type="text" name="name" id="name" required>
        </div>
         <div class="insti dap">
            <label for="insti">సంస్థ:</label>
            <input type="text" name="insti" type="hidden"  id="institution" required>
        </div>
        <div class="affiliation dap">
          <label for="Affiliation">హోదా:</label>
           <input type="text" name="affiliation" id="affiliation" required>
        </div>
        <div class="age dap">
            <label for="Age">వయస్సు:</label>
            <input type="number" maxlength="3" name="age" id="age" required>
        </div>
        <div class="sex dap">
            <label for="sex">లింగం:</label>
            <select required  onclick="sc()" >
                <option value="none" >ఒక ఎంపికను ఎంచుకోండి</option>
                <option  value="Male">పురుషుడు</option>
                <option  value="Female">స్త్రీ</option>
                <option  value="Others">ఇతరులు</option>
            </select>
            <input type="hidden" id="sex" name="sex">
        </div>
        <div class="city dap">
            <label for="city">నగరం:</label>
            <input type="text" name="city" id="city" required>
        </div>
        <div class="number dap">
            <label for="phone">మొబైల్:</label>
            <input maxlength="10" name="number" id="number" required>
        </div>
        <div class="mail dap">
            <label for="mail">మెయిల్:</label>
            <input type="email" name="mail" id="mail" required>
        </div>
        <button class="btn btn-primary">నమోదు</button>
    </form>
        <form style="display: none;" id="myForm" class="pform" action="/" method="POST">
            <div class="purpose dap">
            <input type="hidden" id="purpose" name="purpose" value="participating" required>
            </div>
            <div class="name dap">
                <label for="name">పేరు:</label>
                <input type="text" name="name" id="name" required>
            </div>
             <div class="insti dap">
                <label for="insti">సంస్థ:</label>
                <input type="text" name="insti" type="hidden"  id="institution" required>
            </div>
            <div class="affiliation dap">
              <label for="Affiliation">సంస్థ:</label>
              <input type="text" name="affiliation" id="affiliation" required>
            </div>
            <div class="age dap">
                <label for="Age">వయస్సు:</label>
                <input type="number" maxlength="3" name="age" id="age" required>
            </div>
            <div class="sex dap">
                <label for="sex">లింగం:</label>
                <select required  onclick="sc()" >
                    <option value="none" >ఒక ఎంపికను ఎంచుకోండి</option>
                    <option  value="Male">పురుషుడు</option>
                    <option  value="Female">స్త్రీ</option>
                    <option  value="Others">ఇతరులు</option>
                </select>
                <input type="hidden" id="sex" name="sex">
            </div>
            <div class="city dap">
                <label for="city">నగరం:</label>
                <input type="text" name="city" id="city" required>
            </div>
            <div class="number dap">
                <label for="phone">:మొబైల్</label>
                <input maxlength="10" name="number" id="number" required>
            </div>
            <div class="mail dap">
                <label for="mail">మెయిల్:</label>
                <input type="email" name="mail" id="mail" required>
            </div>
            <div class="guesth dap">
                <div class="require">
                    <label for="requ">గెస్ట్ హౌస్ కావాలా?</label>
                        <select  onclick="checks()" >
                        <option value="none" >ఒక ఎంపికను ఎంచుకోండి</option>
                            <option  value="Yes">అవును</option>
                            <option  value="No">లేదు</option>
                        </select>
                    <input type="hidden" id="require" name="require" >
                </div>
                <div class="gues">
                    <div class="toa dap">
                        <label for="arrivaldate">రాక తేదీ:</label>
                        <input type="date" name="arrivaldate" id="adate" >
                        <label for="arrivaltime">రాక సమయం:</label>
                        <input type="time" name="arrivaltime" id="atime" >
                    </div>
                    <div class="mode dap">
                        <label for="mode">రవాణా విధానం:</label>
                        <select  onclick="modesel()" >
                            <option value="none" >ఒక ఎంపికను ఎంచుకోండి</option>
                            <option  value="Air">గాలి</option>
                            <option  value="Train">రైలు</option>
                            <option  value="Bus">బస్సు</option>
                            <option  value="other">ఇతర</option>
                        </select>
                        <input type="hidden" id="mode" name="mode">
                    </div>
                    <div class="tod dap">
                        <label for="departuredate">బయలుదేరే తేదీ:</label>
                        <input type="date" name="departuredate" id="ddate" >
                        <label for="departuretime">బయలుదేరే సమయం:</label>
                        <input type="time" name="departuretime" id="dtime" >
                    </div>
                </div>
            </div>
            <button class="btn-primary btn">నమోదు</button>
        </form>
    </div>
    <!-- help -->
  <div class="help">
    <center><h2 class="headi">విరాళాలు,సహాయం</h2></center>
    <div class="yesno">
      <button id="yes">చెయ్యగలను</button>
      <button id="no">చెయ్యలేను</button>
    </div>
    <div class="pay" style="display: none;">
      <p>Dr. Murthy Remilla/Venkatarama Sarma,<br> Gpay/PhonePey  99808 53662.<br>SB Account no. 1050 2743 022, SBI Dollars colony,<br> 
        IFSC SBIN0009042, RLN MURTHY</p>

    </div>
  </div>
  <!-- contact -->
  
  <div class="contact" id="contact">
    <center><h2>సంప్రదించండి</h2></center>
    <div class="mailm">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
      </svg>
      <p><a href="mailto:contact@itelugu.in">contact@itelugu.in</a> </p>
    </div>
    <div class="mailm">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
      </svg>
      <p><a href="mailto:telugusampada2023@gmail.com">telugusampada2023@gmail.com</a> </p>
    </div>
    <div class="you">
      <a href="https://www.youtube.com/telugusampada">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
          <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
        </svg>
      </a>
      <a href="https://www.youtube.com/telugusampada"><p style="padding-left: 10px;">telugusampada</p></a>
    </div>
    <div class="fb">
      <a href="https://www.facebook.com/TeluguSampada/">
        <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
      </svg>
      </a>  
      <a href="https://www.facebook.com/TeluguSampada/"><p style="padding-left: 10px;">తెలుగు సంపద</p></a>
    </div>

  </div>


    
       <!-- <input type="color" name="" id=""> -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script src="script.js"></script>
</body>

</html>