<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు</title>
  <link rel="shortcut icon" href="logo.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles-home-2025.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@100&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
</head>

<body>

  <div>
    <nav class="navbar navbar-expand-lg na mid2023">
      <img class="logo" src="logo.png" alt="telugu" id="logo">
      <div class="navbar-header">
        <a class="navbar-brand n" href="#">అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు - 2024</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex flex-col sticky-top ms-auto ">
          <li class="nav-item i">
            <a class="nav-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23"
                fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path
                  d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
              </svg></a>
          </li>
          <li class="nav-item i" style="opacity: 0.5;">
            <a class="nav-link" href="#timeline">కార్యక్రమం టూకీగా</a>
          </li>
          <li class="nav-item i" style="opacity: 0.5;">
            <a class="nav-link" href="#team">కార్య నిర్వాహకులు</a>
          </li>
          <li class="nav-item i" style="opacity: 0.5;">
            <a class="nav-link" href="#reg">పాల్గోడానికి నమోదు</a>
          </li>
          <li class="nav-item i" style="opacity: 0.5;">
            <a class="nav-link" id="change" href="#contact">సంప్రదించండి</a>
          </li>

        </ul>
      </div>
    </nav>

    <div class="news">
      <div class="row news_row">
        <div class=" imn col-lg-6 col-md-12 col-12 col-sm-12">
          <center><img class="new_img" src="chairman.jpg" alt=""></center>
        </div>
        <div class="imn col-lg-6 col-md-12 col-12 col-sm-12">
          <center><img class="new_img" src="news.jpg" alt=""></center>
        </div>
      </div>
      <div class="news_text">
        అందరికీ దండాలు! "తెలుగు సంపద" పూనికతో 3వ "అంతర్జాతీయ తెలుగు భాషా సమావేశాలు" (iTELUGU-2025 conference) శ్రీ
        వేంకటేశ్వర విశ్వవిద్యాలయం, తెలుగు సంపద" ల సంయుక్త ఆధ్వర్యంలో ఫిబ్రవరి 27-28,2025 లలో SVU Tirupati లో జరుపుటకు
        నిర్ణయించడమైనది. తెలుగు భాషాభిమానులు అందరికీ స్వాగతం. తప్పకుండా రావాలి. మరిన్ని వివరాలు త్వరలో. 2 రోజులు
        పాల్గొనడానికి ప్రయాణ ఏర్పాట్లు, ముందు వెనుకగా వేంకటేశ్వర స్వామి దర్శనం చేసుకో దలచుకుంటే ఆ ఏర్పాట్లు చేసుకోడానికి
        ఇది ముందస్తు సమాచారం. సమావేశాలకి ముందుగా దర్శనమ్ అయితే నవంబర్ 21-22 లలో, అనంతరం మార్చి 1-2లలో దర్శనం అయితే
        డిసెంబర్ 21-22లలో 300 రూపాయల దర్శనం టికెట్లు చేయించుకోవాలి. (సమావేశాల్లో దర్శనాలకి అని పారిపోవద్దని విన్నపం)
        www.itelugu.in
      </div>
      <div class="news_mini">

        <center>
          <h1 class="red">
            <div class="mini mini_m mini_sub">శ్రీ వేంకటేశ్వర విశ్వవిద్యాలయం ప్రాచ్య పరిశోధన సంస్థ & తెలుగు అధ్యయన శాఖ,
              తిరుపతి &తెలుగు సంపద, (బెంగళూరు) సంయుక్త ఆధ్వర్యంలో - ‘అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు - 2025‘</div>
          </h1>
        </center>

        <center>
          <p> తేదీలు : 27,28 ఫిబ్రవరి, 2025 </p>
        </center>

        <center>
          <p> వేదిక: శ్రీనివాస ఆడిటోరియం, యస్వీయూ. </p>
        </center>

        <center>
          <p> అధ్యక్షులు </p>
        </center>

        <center>
          <div class="mini blue">
            <h2>ఆచార్య సి హెచ్. అప్పారావు</h2>
          </div>
        </center>
        <center> ఉపకులపతి, యస్వీయూ.</p>
        </center>

        <center>
          <p> కార్యదర్శి
        </center>
        <center>
          <h2 class="blue">
            <div class="mini"> ఆచార్య ఎం. భూపతి నాయుడు </div>
          </h2> రిజిస్ట్రార్, యస్వీయూ.</p>
        </center>

        <center>
          <p> సంచాలకులు
          <h2 class="blue">
            <div class="mini"> ఆచార్య ఆర్. రాజేశ్వరమ్మ </div>
          </h2> తెలుగు అధ్యయన శాఖాధ్యక్షులు, యస్వీయూ </p>
        </center>

        <center>
          <p> నిర్మాణ కార్యదర్శి
          <h2 class="blue">
            <div class="mini">ఆచార్య పి. సి. వెంకటేశ్వర్లు </div>
          </h2> సంచాలకులు, ప్రాచ్య పరిశోధన సంస్థ </p>
        </center>

        <center>
          <p> సమన్యయండా॥
          <h2 class="blue">
            <div class="mini">మూర్తి రేమిళ్ళ</div>
          </h2> తెలుగు సంపద, బెంగళూరు.</p>
        </center>

        <center>
          <h3 style="text-decoration: underline;color: blueviolet;">అంతర్జాతీయ సెమినార్ బ్రోచర్</h3>
        </center>

        <h2>
          <div class="mini ">
            <div class="sub">సదస్సు ఉద్దేశం : </div>
          </div>
        </h2>

        <div class="align">
          కాలంతోపాటు భాష మారుతుంది. మారే స్వభావం కలిగిందే సజీవ భాషని భాషావేత్తలు నిర్థారించారు. రెండు
          వేల సంవత్సరాల చరిత్ర కలిగిన తెలుగు భాషలో ఎన్నో ఒడిదుడుకులు ఎదుర్కొంటూ 21 శతాబ్దం ముంగిట నిలుచుంది. అయితే
          ఇప్పుడు తెలుగు భాషకు సరికొత్త సవాళ్లు ఎదురయ్యాయి. ఒకవైపు కృత్రిమ మేధ మనల్ని అలుముకుంటూ వుంది. మరోవైపు తెలుగు
          మాధ్యమం బోధన ప్రశ్నార్థకంగా మారింది. విద్యార్థులకు తెలుగు పఠనంపై నిరాసక్తత పెరగడం, తెలుగు భాషపై పట్టు వున్న
          పెద్దతరం వారు వయసు పైన పడడం వంటి పరిణామాలు మనల్ని కలవరపరుస్తున్నాయి. ఇప్పుడు నాలుగు వీధుల కూడలిలో దిక్కుతోచని
          స్థితిలో తెలుగు భాష నిలబడింది.

          ఈ నేపథ్యంలో అనుభవం కలిగిన తెలుగు భాషాభిమానులతో , మేధావులతో ఒక సదస్సు జరపాలని శ్రీ వేంకటేశ్వర విశ్వవిద్యాలయం
          భావించింది. అందులో భాగంగా అరుదైన ప్రాచీన తాళపత్రాలను కలిగిన యస్వీయూ ప్రాచ్య పరిశోధన సంస్థ, వ్యావహారిక భాషలో
          పరిశోధనలకు నాంది పలికి, వందలాది పరిశోధనలకు మార్గ దర్శకత్వం వహించిన యస్వీయూ తెలుగు అధ్యయన శాఖలకు యస్వీయూ
          దిశానిర్దేశం చేసింది.

          తెలుగు సంపద , బెంగళూరు వారు గత రెండేళ్లుగా విశాఖపట్నం, రాజమండ్రిలలో తెలుగు భాషోత్సవాలు జరిపి అనుభవాన్ని
          గడించారు. ఈ సందర్భంగా వారు తమ అనుభవాన్ని మాకు అందించడమే గాక, ఈ కార్యక్రమ నిర్వహణలో భాగస్వామ్యం
          తీసుకుంటున్నారు. ఫలితంగా 2025 సంవత్సరం, ఫిబ్రవరి 27 - 28 తేదీలలో అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు శ్రీ
          వేంకటేశ్వర విశ్వవిద్యాలయం, తిరుపతిలో జరగబోతున్నాయి.
        </div>


        <h2>
          <div class="mini mini_m">
            <div class="sub">శ్రీ వేంకటేశ్వర విశ్వవిద్యాలయం:</div>
          </div>
        </h2>
        <div class="align">
          భారతదేశంలోని ప్రముఖ విశ్వవిద్యాలయాలలో పేరెన్నిక గలది శ్రీ వేంకటేశ్వర విశ్వవిద్యాలయం . శ్రీ వేంకటేశ్వరుని దివ్య
          పాదాల చెంత కొలువైన ఈ విశ్వవిద్యాలయానికి ఎన్నో విశిష్టతలు ఉన్న విషయం జగద్విదితమే.
        </div>
        <h2>
          <div class="mini mini_m">
            <div class="sub">తెలుగు అధ్యయన శాఖ</div>
          </div>
        </h2>
        <div class="align">
          శ్రీ వేంకటేశ్వర విశ్వవిద్యాలయంలో ప్రముఖ కవి రాయప్రోలు సుబ్బారావు గారితో 1959లో తెలుగు శాఖ ప్రారంభించబడింది .
          ప్రసిద్ధ ఆచార్యులు పింగళి లక్ష్మీకాంతం, భూపతి లక్ష్మీనారాయణ ,జిఎన్ రెడ్డి , జాస్తి సూర్యనారాయణ ,జి . నాగయ్య ,
          భద్రిరాజు ,కోరాడ వంటి ఎందరో ఉద్దండులు ఈ శాఖలో పనిచేసి శాఖ అభివృద్ధికి కృషి చేశారు. అనేక రంగాలలో విస్తృత
          పరిశోధనలు చేసి నూతన ఆవిష్కరణలు చేసిన ఘనత ఈ శాఖకు ఉంది . ఎందరో కవులను ,రచయితలను ,విమర్శకులను అందించిన చరిత్ర
          తెలుగు శాఖది. నేటి వరకు 520 కి పైగా పరిశోధనలను పూర్తి చేసుకున్న విశిష్టత ఈ శాఖకు ఉంది .ఎన్నో జాతీయ ,అంతర్జాతీయ
          సమావేశాలను సాహిత్య భాషా కార్యశాలలను నిర్వహించి , ఆధునిక భాషా విజ్ఞానంలో మెలకువలను అందించిన ఘన చరిత్ర ఈ శాఖది.
        </div>
        <h2>
          <div class="mini mini_m">
            <div class="sub">ప్రాచ్య పరిశోధన సంస్థ </div>
          </div>
        </h2>
        <div class="align">
          ప్రాచ్య పరిశోధన సంస్థను 1939లో తిరుమల తిరుపతి దేవస్థానం వారు ప్రారంభించారు. 1956లో శ్రీ వేంకటేశ్వర
          విశ్వవిద్యాలయంలో ఈ సంస్థ అంతర్భాగమైంది. ఇందులో వేటూరి ప్రభాకర శాస్త్రి , మానవల్లి రామకృష్ణ కవి, రాళ్లపల్లి
          అనంతకృష్ణ శర్మ వంటి ఉద్దండులు పనిచేశారు. అన్నమయ్య సంకీర్తనలు పరిష్కరణ ఇక్కడే జరిగింది. ఈ సంస్థ 100కు పైగా
          గ్రంథాలను, 66 జర్నల్స్ ప్రచురించింది. 120 మందికి పైగా పరిశోధనలు చేసి పిహెచ్.డి. డిగ్రీలు పొందారు. ఐఎస్ఓ 9001 :
          2015 కలిగిన ప్రసిద్ధ సంస్థ.
        </div>

        <h2>
          <div class="mini mini_m">
            <div class="sub"> సదస్సు కోసం కొన్ని పరిశోధన అంశాలు : </div>
          </div>
        </h2>
        <div class="align">
          <p>1. జానపద విజ్ఞానం -భాషా విన్యాసాలు</p>
          <p>2. శాసన సాహిత్యంలో భాషా పరిపక్వత</p>
          <p>3. తాళపత్ర, కాగితపు రాతప్రతులు- భాష</p>
          <p>4. భారత, భాగవత, రామాయణాలు - స్థల నామాలు, సాంకేతిక భాష, ఇతరాలు.</p>
          <p>5. పురాణ సాహిత్యం - భాషా ప్రత్యేకతలు</p>
          <p>6. ఆధునిక కవిత్వం భాషా ప్రయోగాలు</p>
          <p>7. తెలుగు కథ - భాష</p>
          <p> 8. తెలుగు నవలలు - భాష </p>
          <p>9. సంప్రదాయ, ఆధునిక నాటక సాహిత్యం-భాష </p>
          <p>10. తెలుగు మాధ్యమాలు - భాష</p>
          <p>11. భాషోద్యమాలు- ప్రతిఫలనాలు</p>
          <p> 12. తెలుగు మాండలికాలు- ప్రాంతీయతలు</p>
          <p> 13. అధికార భాషగా తెలుగు ఆచరణ- సాధ్యాసాధ్యాలు</p>
          <p> 14. ప్రామాణిక భాష- తీరుతెన్నులు.</p>
          <p> 15. బోధనా పరిశోధనా రంగాలు - తెలుగు.</p>
          <p> 16. శాస్త్ర సాంకేతిక రంగాలు - తెలుగు పదాల పరికల్పన.</p>
          <p> 17. తెలుగు భాష - వివిధ సంస్ధల కృషి.</p>
          <p> 18. తెలుగు భాషాభివృద్ధి - ఆధునిక సాంకేతిక సాధనాలు.</p>
          <p> 19. కృత్రిమ మేధ - తెలుగు భాష వినియోగం , సవాళ్లు</p>
          <p> 20. విదేశాల్లో తెలుగు భాష - స్థితి గతులు</p>
          <p> 21. తెలుగు భాషపై జరుగుతున్న పరిశోధనలు - పరామర్శ</p>
          <p> 22. ఎలక్ట్రానిక్ మీడియా - తెలుగు భాష</p>
          <p> 23. ఫేస్బుక్ - తెలుగు భాష.</p>
          <p> 24. మొబైల్ , రీల్స్ , సంక్షిప్త సినిమా - తెలుగు</p>
          <p> 25. 21 వ శతాబ్దంలో మారుతున్న తెలుగు - అర్థాలు, పరమార్థాలు</p>
          <p> 26. తెలుగు భాషా పరిరక్షణ ఉద్యమం
        </div>
        <h2>
          <div class="mini mini_m">
            <div class="sub">పత్రసమర్పకులకు కొన్ని మార్గదర్శకాలు:</div>
          </div>
        </h2>
        <div class="align">
          <p>1. పరిశోధనా పత్ర శీర్షికను , పరిశోధన వ్యాసంలోని ప్రధాన ప్రతిపాదనలను ఒక పుటలో 20-12-2024 లోపు మెయిల్ చేయాలి.
            సంబంధిత గూగుల్ ఫారం లింకు అందుబాటులో వుంటుంది.</p>
          <p>2. పరిశోధనా వ్యాసాలను 7 పుటలు మించకుండా, గూగుల్ తెలుగు వర్డ్ ఫైలులో టైపు చేసి తప్పులు లేకుండా
            svuoridirector@gmail.com లేదా teluguhodsvu@gmail.com మెయిల్ ద్వారా అప్లోడ్ చేయాలి.</p>
          <p>3. పూర్తి పరిశోధన పత్రాన్ని 20-1-2025 మెయిల్ చేయాలి. </p>
          <p>4. అనుకరణ, కాపీ చేసిన పత్రాలు తిరస్కరించబడతాయి.</p>
          <p> 5. పత్రాలు నిపుణుల కమిటీ చేత నిర్థారణ జరిగిన తర్వాతనే యుజిసి కేర్ లిస్ట్ జర్నల్లో ప్రచురితమౌతాయి.</p>
          <p>6. ఎంపికైన పత్రాలు ముద్రణకు ఎలాంటి డబ్బులు చెల్లించనవసరం లేదు. </p>
          <p>7. సదస్సులో పాల్గొని , పత్ర సమర్పణ చేయబోయే అధ్యాపకులు 1000/- రూపాయలు, పరిశోధకులు , ఇతరులు 500/- రూపాయలు
            చెల్లించవలసి ఉంటుంది. రిజిస్ట్రేషన్ కు చివరి తేదీ ఫిబ్రవరి 15,2025 .</p>
          <p>8. సెమినార్ కు ముందుగానే కార్యక్రమావళి రూపొందించుకోవలసి ఉంటుంది . కనుక పత్ర సమర్పకులు అందరూ కనీసం పది
            రోజులు ముందుగా అనగా 15 -2-2025 తేదీ లోపు సంబంధిత రుసుం చెల్లించి పత్ర శీర్షికను తెలియజేస్తూ , తమ పేర్లను
            నమోదు చేసుకోవాల్సిందిగా మనవి. సదస్సు జరిగే రోజున నేరుగా వచ్చి తమ పేర్లను నమోదు చేసుకుందామనుకునే వారికి
            అవకాశం ఉండకపోవచ్చు.</p>
          <p>9. ప్రతి పత్రం పైన చర్చ వుంటుంది.</p>
          <p>10. సదస్సులో పాల్గొని,నిర్దేశించిన సమయంలో ప్రత్యక్షంగా పత్ర సమర్పణ చేసిన వారికి మాత్రమే ధ్రువీకరణ పత్రం
            ఇవ్వబడుతుంది.</p>
        </div>
        <h3>
          <div class="mini mini_m">
            <div class="sub">గమనిక : </div>
          </div>
          <div class="align">
        </h3> పైన సూచించిన అంశాలే కాక భాషకు సంబంధించి మరేదైనా కొత్త అంశం గురించి రాయదలిస్తే ముందుగా నిర్వాహకుల అనుమతి
        పొందవలసి ఉంటుంది.

        <div class="align">
          <h3>
            <div class="mini mini_m">
              <div class="sub">మనవి : </div>
            </div>


          </h3>సదస్సు విషయమై పరిశోధకులకు చేస్తున్న విన్నపం ఏమంటే - సెమినార్ అంటే పాత పుస్తకాలలో వ్యాసాలను తిప్పి రాయడం
          వంటి ధోరణులను ఈ సదస్సు అంగీకరించదు. తెలుగు భాషా ప్రాచుర్యం తగ్గిపోతోందని, భాష ఉంటుందో , ఉండదో అనే విమర్శలు
          మాత్రమే కాక అనుమానాలు భయాలు తొలగించేలా, తెలుగు భాష పదికాలాలు నిలబడి ఉండేలా చేయాల్సిన ఉద్యమం, దానికి కావలసిన
          కార్యాచరణ దిశగా సమర్పించే పత్రాలకు ప్రత్యేక ప్రాధాన్యత ఉంటుంది. అలాగే తెలుగు భాషా పరిరక్షణకు, పరివ్యాప్తికి,
          పరిశోధనకు ఆధునిక శాస్త్ర సాంకేతికాల వినియోగం గురించి చేసే పత్ర సమర్పణలు కూడా విశేషంగా ప్రోత్సహించబడతాయి. ప్రతి
          పరిశోధన పత్రం ద్వారా కొత్తదనాన్ని,కొత్త తరాన్ని తయారు చేయాలన్నది మా ఉద్దేశం. మా సంకల్పాన్ని అర్థం చేసుకొని
          పరిశోధన వ్యాసాలను రాయగలరు. అనుకరణ పత్రాలు తిరస్కరించబడుతాయి . పరిశోధకులు అందరూ మంచి ప్రామాణిక పత్రాలను
          సమర్పించి సదస్సును జయప్రదం చేయగలరని ఆశిస్తున్నాము. <br>
          ఈ జాతీయ సదస్సుకు హాజరయ్యే వారు ఈ లింక్ <a href="http://forms.gle/q6dw3BcdEouG5Gdu9">(
            http://forms.gle/q6dw3BcdEouG5Gdu9 )</a> ఉపయోగించి గూగుల్ ఫామ్
          ద్వారా మీ వివరాలు నమోదు చేసి, రిజిస్ట్రేషన్ చేసుకోవాలని తెలియజేస్తున్నాము.

          సదస్సు వివరాలకు కింది ఫోన్ నెంబర్లను మరియు వెబ్సైట్ను సంప్రదించండి.

          9491420180 , 9490165963

          <a href="https://www.svuniversity.edu.in">www.svuniversity.edu.in</a>

          <a href="https://www.itelugu.in/">www.itelugu.in</a>
        </div>


        <center>
          <h3 style="font-weight: 600;">గూగుల్ ఫారం లింక్ : <a href="http://forms.gle/q6dw3BcdEouG5Gdu9">(
              http://forms.gle/q6dw3BcdEouG5Gdu9 )</a> </h3>
        </center>
      </div>
    </div>
  </div>
  <div class="new_deepu">
  <hr style="height: 2px; /* Increase thickness */
  background-color: black; /* Set color */
  border: none;opacity: 1; /* Remove default border */">

    <center>
      <div class="sub1"><h1>" తెలుగు పరిశోధనా పత్ర సమర్పణ గడువు పొడిగింపు" </h1>
      </div>
    </center>
    <p>తెలుగు పరిశోధనా పత్ర సమర్పణ గడువు పొడిగింపు: మూడవ అంతర్జాతీయ తెలుగు భాషా సమావేశాలు (iTELUGU-2025) గురించి తేదీ...
      నాటి ప్రకటన పత్రం ప్రకారం పాత్ర శీర్షిక, ముఖ్య విషయాల తో సంక్షిప్త పత్రం (ఆబ్స్ట్రాక్ట్) సమర్పణకు ఉన్న గడువు
      <span>20-12-2024</span> ను పాత్ర సమర్పకుల అభ్యర్థన మేరకు <span>31-12-2024</span>వరకు పొడిగించాలని కార్య నిర్వాహక
      వర్గం నిర్ణయించింది. మిగిలిన వివరాలు, సూచనలు అన్నీ యథా తథంగానే ఉంటాయి. మరిన్ని వైవిధ్యమైన, ఆసక్తికర పత్రాలను
      సమర్పించుటకు ఈ అవకాశాన్ని అంద రూ వినియోగించుకోవాలని విజ్ఞప్తి. అలాగే సమావేశాల అనంతరం మార్చి 1-2 లలో శ్రీ
      వేంకటేశ్వరస్వామి దర్శనాలకు రూ. 300 టిక్కెట్లు డిసెంబర్ 24 న విడుదల అవుతాయి అని కూడా గమనించ ప్రార్థన. మరిన్ని
      వివరాలకు - ......... <a href="https://www.itelugu.in">www.itelugu.in</a> </p>
      <div class="row">
        <div class="col-lg-6"><center><img style="width: 60%;" src="poster_2025_1.jpg"></center></div>
        <div class="col-lg-6"><center><img style="width: 60%;" src="poster_2025_2.jpg"></center></div>
      </div>
  </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>


</body>

</html>