<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు</title>
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="styles-home-2025.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@100&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg na mid2023">
            <img class="logo" src="logo.png" alt="telugu" id="logo">
            <div class="navbar-header">
              <a class="navbar-brand n" href="#">అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు - 2024</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav d-flex flex-col sticky-top ms-auto ">
                <li class="nav-item i">
                  <a class="nav-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23"
                      fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                      <path
                        d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
                    </svg></a>
                </li>
                <li class="nav-item i" style="opacity: 0.5;">
                  <a class="nav-link" href="#timeline">కార్యక్రమం టూకీగా</a>
                </li>
                <li class="nav-item i" style="opacity: 0.5;">
                  <a class="nav-link" href="#team">కార్య నిర్వాహకులు</a>
                </li>
                <li class="nav-item i" style="opacity: 0.5;">
                  <a class="nav-link" href="#reg">పాల్గోడానికి నమోదు</a>
                </li>
                <li class="nav-item i" style="opacity: 0.5;">
                  <a class="nav-link" id="change" href="#contact">సంప్రదించండి</a>
                </li>
        
              </ul>
            </div>
          </nav>

          <div class="news">
            <div class="row news_row">
                <div class=" imn col-lg-6 col-md-12 col-12 col-sm-12">
                    <center><img class="new_img" src="chairman.jpg" alt=""></center>
                </div>
                <div class="imn col-lg-6 col-md-12 col-12 col-sm-12">
                    <center><img class="new_img" src="news.jpg" alt=""></center>
                </div>
            </div>
            <div class="news_text">
                అందరికీ దండాలు! "తెలుగు సంపద" పూనికతో 3వ "అంతర్జాతీయ తెలుగు భాషా సమావేశాలు" (iTELUGU-2025 conference)  శ్రీ వేంకటేశ్వర విశ్వవిద్యాలయం, తెలుగు సంపద" ల సంయుక్త ఆధ్వర్యంలో ఫిబ్రవరి 27-28,2025 లలో SVU Tirupati లో జరుపుటకు నిర్ణయించడమైనది.  తెలుగు భాషాభిమానులు అందరికీ స్వాగతం. తప్పకుండా రావాలి. మరిన్ని వివరాలు త్వరలో. 2 రోజులు పాల్గొనడానికి ప్రయాణ ఏర్పాట్లు, ముందు వెనుకగా వేంకటేశ్వర స్వామి దర్శనం చేసుకో దలచుకుంటే ఆ ఏర్పాట్లు చేసుకోడానికి ఇది ముందస్తు సమాచారం. సమావేశాలకి ముందుగా దర్శనమ్ అయితే నవంబర్ 21-22 లలో, అనంతరం మార్చి 1-2లలో దర్శనం అయితే డిసెంబర్ 21-22లలో 300 రూపాయల దర్శనం టికెట్లు చేయించుకోవాలి. (సమావేశాల్లో దర్శనాలకి అని పారిపోవద్దని విన్నపం) www.itelugu.in
            </div>
            <center><h2></h2></center>
          </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


</body>

</html>
