<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>అంతర్జాతీయ తెలుగు భాషా ఉత్సవాలు</title>
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="styles-home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@100&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
</head>
<body>
    <a href="#"><button class="btn btn-dark spu"><i class="fa-solid fa-arrow-up fa-2x"></i></button></a>
    <!-- navbar starting -->
    <nav class="navbar navbar-expand-lg na mid2023">
        <img class="logo" src="logo.png" alt="telugu" id="logo">
        <div class="navbar-header">
        <a class="navbar-brand n" href="#">అంతర్జాతీయ తెలుగు పరిశోధనా సమావేశాలు -2023</a>
        </div>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav d-flex flex-col sticky-top ms-auto ">
               <li class="nav-item i">
                   <a class="nav-link" href="#home"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                  </svg></a> 
               </li>
               <li class="nav-item i">
                   <a class="nav-link" href="#timeline">కార్యక్రమం టూకీగా</a> 
               </li>
               <li class="nav-item i" style="opacity: 0.5;">
                   <a class="nav-link" href="#team">కార్య నిర్వాహకులు</a> 
               </li>
               <li class="nav-item i" style="opacity: 0.5;">
                   <a class="nav-link" href="#reg">పాల్గోడానికి నమోదు</a> 
               </li>
               <li class="nav-item i">
                   <a class="nav-link" id="change" href="#contact">సంప్రదించండి</a> 
               </li>
 
             </ul>
          </div>
       </nav>
       <!-- navbar ending -->
       <!-- img display -->

      <!-- home -->
      
        
       <!-- carousels -->
       <!-- mobilecarousel -->
       <div class="carouselmob">
        <section id="testimonials">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="dog" src="thalli.jpg" alt="dog-profile">
                   <h1>మా తెలుగుతల్లికీ మల్లెపూదండ...</h1>
                  <p>సాహిత్యపరంగా తెలుగుతల్లి అంటే తెలుగు ప్రజల అమ్మగా చిత్రీకరించబడిన, ప్రజామోదం పొందిన చిహ్నం.
                  </p>
           
                </div>
                <div class="carousel-item">
                  <img class="dog" src="nannayya.jpg" alt="lady-profile">
                  <h1>నన్నయ్య</h1>
                 <p class="testimonial-text">నన్నయ భట్టారకుడు(సా.శ.11వ శతాబ్ది) తెలుగు సాహిత్యంలో ’’’ఆదికవి’’’గా ప్రఖ్యాతుడయ్యాడు.</p>
           
                </div>
                <div class="carousel-item">
                  <img class="dog" src="thikkana.jpg" alt="dog-profile">
                  <h1>తిక్కన</h1>
                  <p>తిక్కన లేదా తిక్కన సోమయాజి.కవిత్రయములో తిక్కనది నాటకీయ శైలి, సంభాషణాత్మక శైలి. అతనికి "కవి బ్రహ్మ", "ఉభయ కవిమిత్రుడు" అనే బిరుదులు ఉన్నాయి.</p>
           
                </div>
                <div class="carousel-item">
                  <img class="dog" src="sri.jpg" alt="dog-profile">
                  <h1>శ్రీ శ్రీ</h1>
                  <p>శ్రీశ్రీ అని పిలవబడే శ్రీరంగం శ్రీనివాసరావు ప్రముఖ తెలుగు కవి. విప్లవ కవిగా, సాంప్రదాయ, ఛందోబద్ధ కవిత్వాన్ని ధిక్కరించినవాడిగా,సినిమా పాటల రచయితగా ప్రసిద్ధుడు.</p>
           
                </div>
                <div class="carousel-item">
                  <img class="dog" src="alsani.jpeg" alt="dog-profile">
                  <h1>అల్లసాని</h1>
                  <p>ఆంధ్ర కవితా పితామహునిగా పేరుగాంచిన అల్లసాని పెద్దన గారు. సంస్కృతాంధ్ర కవిత్వం ఎలా ఉండవలెను అని ఒక ఉత్పలమాల ఆశువుగా చెప్పి రాయల చేత సన్మానం గండపెండేరం తొడిగించుకున్నవాడు.</p>
           
                </div>
                <div class="carousel-item">
                  <img class="dog" src="thikkana.jpg" alt="dog-profile">
                  <h1>బమ్మెర పోతన</h1>
                  <p>బమ్మెర పోతన గొప్ప కవి, ప్రజా కవి, పండిత పామరులను ఇద్దరినీ మెప్పించే విధంగా రాసిన కవి. ఇతను సంస్కృతంలో ఉన్న శ్రీమద్భాగవతం ఆంధ్రీకరించి అతని జన్మనీ, తెలుగు భాషని, తెలుగు వారిని ధన్యులను చేసాడు. శ్రీమదాంధ్ర భాగవతం లోని పద్యాలు వినని తెలుగు వాడు లేదంటే అతిశయోక్తి కాదు.</p>
           
                </div>
                <div class="carousel-item">
                  <img class="dog" src="somana.jpg" alt="dog-profile">
                  <h1>పాల్కురికి సోమనాథుడు</h1>
                  <p>పాల్కురికి సోమనాధుడు తెలుగు, కన్నడ, సంస్కృత భాషలలో పండితుడు. వీరశైవం వ్యాప్తికి కృషి చేశాడు. వీరశైవ సంప్రదాయంలో సోమనాధుడు శివుని ప్రమధ గణాలలో "భృంగి" అవతారం. అప్పటి ఇతర శివకవులు తమ రచనలలో బ్రాహ్మణులను గౌరవంగా ప్రస్తావించేవారు కాని పాల్కురికి సోమనాధుడు వారి ఆచార వ్యవహారాలను నిశితంగా నిరసించాడు.</p>
           
                </div>
                <div class="carousel-item">
                  <img class="dog" src="srinath.jpeg" alt="dog-profile">
                  <h1>శ్రీనాథుడు</h1>
                  <p>చిన్నారి పొన్నారి చిఱుత కూఁకటినాఁడు రచియించితి మరుత్తరాట్చరిత్ర - బాల్యములోనే బృహత్కావ్యాన్ని రచించిన ప్రౌఢ కవి శ్రీనాథుడు. వీరి రచనలలో వీరి వ్యక్తిత్వం ప్రతిబింబిస్తుంది. పాండిత్య గరిమతో అచంచల ఆత్మవిశ్వాసం మూర్తిభవించిన నిండైన విగ్రహం వారి రచనలు చదువుతూ ఉంటే గోచరిస్తుంది.</p>
           
                </div>
                <div class="carousel-item">
                  <img class="dog" src="rama.jpeg" alt="dog-profile">
                  <h1>గిడుగు వెంకట రామమూర్తి</h1>
                  <p>తెలుగులో వాడుక భాషా ఉద్యమ పితామహుడు, గిడుగు వెంకట రామమూర్తి (ఆగష్టు 29, 1863 - జనవరి 22, 1940) . గ్రాంథికభాషలో ఉన్న తెలుగు వచనాన్ని ప్రజల వాడుకభాషలోకి తీసుకు వచ్చి, నిత్య వ్యవహారంలోని భాషలో ఉన్న అందాన్నీ, వీలునూ తెలియజెప్పిన మహనీయుడు. ఆంధ్రదేశంలో వ్యావహారిక భాషోద్యమానికి మూలపురుషుడు. బహుభాషా శాస్త్రవేత్త, చరిత్రకారుడు, సంఘసంస్కర్త, హేతువాది.</p>
           
                </div>
             
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div>    
            </div>
          </section>
       </div>

       <!-- pccarousel -->
       <div class="carouselpc">
        <div class="parent">
            <div class="car">
              <div class="car__nav">
               <span id="moveLeft" class="car__arrow">
                    <svg class="car__icon" width="24" height="24" viewBox="0 0 24 24">
                <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
            </svg>
                </span>
                <span id="moveRight" class="car__arrow" >
                  <svg class="car__icon"  width="24" height="24" viewBox="0 0 24 24">
              <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
            </svg>    
                </span>
              </div>
              <div class="car-item car-item--1">
                <div class="car-item__image"></div>
                <div class="car-item__info">
                  <div class="car-item__container">
                  <h1 class="car-item__title">మా తెలుగుతల్లికీ మల్లెపూదండ...</h1>
                  <p class="car-item__description">సాహిత్యపరంగా తెలుగుతల్లి అంటే తెలుగు ప్రజల అమ్మగా చిత్రీకరించబడిన, ప్రజామోదం పొందిన చిహ్నం.
                  </p>
                  <a href="https://te.wikipedia.org/wiki/%E0%B0%A4%E0%B1%86%E0%B0%B2%E0%B1%81%E0%B0%97%E0%B1%81%E0%B0%A4%E0%B0%B2%E0%B1%8D%E0%B0%B2%E0%B0%BF#:~:text=%E0%B0%88%20%E0%B0%A6%E0%B1%87%E0%B0%B5%E0%B0%A4%20%E0%B0%A4%E0%B1%86%E0%B0%B2%E0%B1%81%E0%B0%97%E0%B1%81%20%E0%B0%B5%E0%B0%BE%E0%B0%B0%E0%B0%BF%20%E0%B0%B6%E0%B1%88%E0%B0%B2%E0%B0%BF%E0%B0%B2%E0%B1%8B,%E0%B0%85%E0%B0%A7%E0%B0%BF%E0%B0%95%E0%B0%BE%E0%B0%B0%E0%B0%BF%E0%B0%95%20%E0%B0%97%E0%B1%80%E0%B0%A4%E0%B0%82%20%E0%B0%AE%E0%B0%BE%20%E0%B0%A4%E0%B1%86%E0%B0%B2%E0%B1%81%E0%B0%97%E0%B1%81%20%E0%B0%A4%E0%B0%B2%E0%B1%8D%E0%B0%B2%E0%B0%BF." class="car-item__btn">మరింత తెలుసుకోవడానికి</a>
                    </div>
                </div>
              </div>
              <div class="car-item car-item--2">
                <div class="car-item__image"></div>
                <div class="car-item__info">
                  <div class="car-item__container">
                  <h1 class="car-item__title">నన్నయ్య</h1>
                  <p class="car-item__description">నన్నయ భట్టారకుడు(సా.శ.11వ శతాబ్ది) తెలుగు సాహిత్యంలో ’’’ఆదికవి’’’గా ప్రఖ్యాతుడయ్యాడు.నన్నయ సంస్కృతంలో తొలి తెలుగు వ్యాకరణ గ్రంథమైన ఆంధ్ర శబ్ద చింతామణి రచించారని భావిస్తారు. </p>
                  <a href="https://te.wikipedia.org/wiki/%E0%B0%A8%E0%B0%A8%E0%B1%8D%E0%B0%A8%E0%B0%AF%E0%B1%8D%E0%B0%AF" class="car-item__btn">మరింత తెలుసుకోవడానికి</a>
                    </div>
                </div>
              </div>
                <div class="car-item car-item--3">
                <div class="car-item__image"></div>
                <div class="car-item__info">
                  <div class="car-item__container">
                  <h1 class="car-item__title">తిక్కన</h1>
                  <p class="car-item__description">తిక్కన లేదా తిక్కన సోమయాజి (1205 - 1288). విక్రమసింహపురి (నేటి నెల్లూరు ప్రాంతాన్ని) పరిపాలించిన మనుమసిద్ధికి మంత్రిత్వం వహించారు. కవిత్రయములో తిక్కనది నాటకీయ శైలి, సంభాషణాత్మక శైలి. అతనికి "కవి బ్రహ్మ", "ఉభయ కవిమిత్రుడు" అనే బిరుదులు ఉన్నాయి.</p>
                  <a href="https://te.wikipedia.org/wiki/%E0%B0%A4%E0%B0%BF%E0%B0%95%E0%B1%8D%E0%B0%95%E0%B0%A8" class="car-item__btn">మరింత తెలుసుకోవడానికి</a>
                    </div>
                </div>
              </div>
              
               <div class="car-item car-item--4">
                <div class="car-item__image"></div>
                <div class="car-item__info">
                  <div class="car-item__container">
                  <h1 class="car-item__title">శ్రీ శ్రీ</h1>
                  <p class="car-item__description">శ్రీశ్రీ అని పిలవబడే శ్రీరంగం శ్రీనివాసరావు (ఏప్రిల్ 30, 1910 - జూన్ 15, 1983) ప్రముఖ తెలుగు కవి. విప్లవ కవిగా, సాంప్రదాయ, ఛందోబద్ధ కవిత్వాన్ని ధిక్కరించినవాడిగా, అభ్యుదయ రచయితల సంఘం అధ్యక్షుడిగా, విప్లవ రచయితల సంఘం స్థాపక అధ్యక్షుడిగా, సినిమా పాటల రచయితగా ప్రసిద్ధుడు</p>
                  <a href="https://te.wikipedia.org/wiki/%E0%B0%B6%E0%B1%8D%E0%B0%B0%E0%B1%80%E0%B0%B6%E0%B1%8D%E0%B0%B0%E0%B1%80" class="car-item__btn">మరింత తెలుసుకోవడానికి</a>
                    </div>
                </div>
              </div>
              
             <div class="car-item car-item--5">
                <div class="car-item__image"></div>
                <div class="car-item__info">
                  <div class="car-item__container">
                  <h1 class="car-item__title">అల్లసాని</h1>
                  <p class="car-item__description">ఆంధ్ర కవితా పితామహునిగా పేరుగాంచిన అల్లసాని పెద్దన శ్రీ కృష్ణదేవరాయల ఆస్థానంలో అష్టదిగ్గజములలో అగ్రగణ్యుడు. సంస్కృతాంధ్ర కవిత్వం ఎలా ఉండవలెను అని ఒక ఉత్పలమాల ఆశువుగా చెప్పి రాయల చేత సన్మానం గండపెండేరం తొడిగించుకున్నవాడు. ఇతడు రచించిన మనుచరిత్ర ఆంధ్రవాఙ్మయములో ప్రథమ ప్రబంధముగా ప్రసిద్ధికెక్కినది.</p>
                  <a href="https://te.wikipedia.org/wiki/%E0%B0%85%E0%B0%B2%E0%B1%8D%E0%B0%B2%E0%B0%B8%E0%B0%BE%E0%B0%A8%E0%B0%BF_%E0%B0%AA%E0%B1%86%E0%B0%A6%E0%B1%8D%E0%B0%A6%E0%B0%A8#:~:text=%E0%B0%87%E0%B0%A4%E0%B0%A1%E0%B1%81%20%E0%B0%B0%E0%B0%9A%E0%B0%BF%E0%B0%82%E0%B0%9A%E0%B0%BF%E0%B0%A8%20%E0%B0%AE%E0%B0%A8%E0%B1%81%E0%B0%9A%E0%B0%B0%E0%B0%BF%E0%B0%A4%E0%B1%8D%E0%B0%B0%20%E0%B0%86%E0%B0%82%E0%B0%A7%E0%B1%8D%E0%B0%B0%E0%B0%B5%E0%B0%BE%E0%B0%99%E0%B1%8D%E0%B0%AE%E0%B0%AF%E0%B0%AE%E0%B1%81%E0%B0%B2%E0%B1%8B%20%E0%B0%AA%E0%B1%8D%E0%B0%B0%E0%B0%A5%E0%B0%AE,%E0%B0%87%E0%B0%A4%E0%B0%A8%E0%B0%BF%E0%B0%A8%E0%B0%BF%20%E0%B0%AA%E0%B1%86%E0%B0%A6%E0%B1%8D%E0%B0%A6%E0%B0%A8%E0%B0%BE%E0%B0%AE%E0%B0%BE%E0%B0%A4%E0%B1%8D%E0%B0%AF%E0%B1%81%E0%B0%A1%E0%B1%81%20%E0%B0%85%E0%B0%A8%E0%B0%BF%20%E0%B0%95%E0%B1%82%E0%B0%A1%E0%B0%BE%20%E0%B0%85%E0%B0%82%E0%B0%9F%E0%B0%BE%E0%B0%B0%E0%B1%81.&text=%E0%B0%85%E0%B0%A8%E0%B0%BF%20%E0%B0%B0%E0%B0%BE%E0%B0%AF%E0%B0%B2%20%E0%B0%B5%E0%B0%BE%E0%B0%B0%E0%B1%81%20%E0%B0%B8%E0%B0%97%E0%B0%AE%E0%B1%81%20%E0%B0%AA%E0%B0%A6%E0%B1%8D%E0%B0%AF%E0%B0%AE%E0%B1%81,%E0%B0%85%E0%B0%B2%E0%B1%8D%E0%B0%B2%E0%B0%B8%E0%B0%BE%E0%B0%A8%E0%B0%BF%20%E0%B0%B5%E0%B0%BE%E0%B0%B0%E0%B1%81%20%E0%B0%88%20%E0%B0%B5%E0%B0%BF%E0%B0%A7%E0%B0%AE%E0%B1%81%E0%B0%97%E0%B0%BE%20%E0%B0%AA%E0%B1%82%E0%B0%B0%E0%B0%BF%E0%B0%82%E0%B0%9A%E0%B0%BE%E0%B0%B0%E0%B1%81." class="car-item__btn">మరింత తెలుసుకోవడానికి</a>
                    </div>
                </div>
              </div>
              <div class="car-item car-item--6">
                <div class="car-item__image"></div>
                <div class="car-item__info">
                  <div class="car-item__container">
                  <h1 class="car-item__title">బమ్మెర పోతన</h1>
                  <p class="car-item__description">బమ్మెర పోతన గొప్ప కవి, ప్రజా కవి, పండిత పామరులను ఇద్దరినీ మెప్పించే విధంగా రాసిన కవి. ఇతను సంస్కృతంలో ఉన్న శ్రీమద్భాగవతం ఆంధ్రీకరించి అతని జన్మనీ, తెలుగు భాషని, తెలుగు వారిని ధన్యులను చేసాడు. శ్రీమదాంధ్ర భాగవతం లోని పద్యాలు వినని తెలుగు వాడు లేదంటే అతిశయోక్తి కాదు.
                  </p>
                  <a href="https://te.wikipedia.org/wiki/%E0%B0%AC%E0%B0%AE%E0%B1%8D%E0%B0%AE%E0%B1%86%E0%B0%B0_%E0%B0%AA%E0%B1%8B%E0%B0%A4%E0%B0%A8" class="car-item__btn">మరింత తెలుసుకోవడానికి</a>
                    </div>
                </div>
              </div>
              <div class="car-item car-item--7">
                <div class="car-item__image"></div>
                <div class="car-item__info">
                  <div class="car-item__container">
                  <h1 class="car-item__title">పాల్కురికి సోమనాథుడు</h1>
                  <p class="car-item__description">పాల్కురికి సోమనాధుడు తెలుగు, కన్నడ, సంస్కృత భాషలలో పండితుడు. వీరశైవం వ్యాప్తికి కృషి చేశాడు. వీరశైవ సంప్రదాయంలో సోమనాధుడు శివుని ప్రమధ గణాలలో "భృంగి" అవతారం. అప్పటి ఇతర శివకవులు తమ రచనలలో బ్రాహ్మణులను గౌరవంగా ప్రస్తావించేవారు కాని పాల్కురికి సోమనాధుడు వారి ఆచార వ్యవహారాలను నిశితంగా నిరసించాడు.
                  </p>
                  <a href="https://te.wikipedia.org/wiki/%E0%B0%AA%E0%B0%BE%E0%B0%B2%E0%B1%8D%E0%B0%95%E0%B1%81%E0%B0%B0%E0%B0%BF%E0%B0%95%E0%B0%BF_%E0%B0%B8%E0%B1%8B%E0%B0%AE%E0%B0%A8%E0%B0%BE%E0%B0%A5%E0%B1%81%E0%B0%A1%E0%B1%81" class="car-item__btn">మరింత తెలుసుకోవడానికి</a>
                    </div>
                </div>
              </div>
              <div class="car-item car-item--8">
                <div class="car-item__image"></div>
                <div class="car-item__info">
                  <div class="car-item__container">
                  <h1 class="car-item__title">శ్రీనాథుడు</h1>
                  <p class="car-item__description">చిన్నారి పొన్నారి చిఱుత కూఁకటినాఁడు రచియించితి మరుత్తరాట్చరిత్ర - బాల్యములోనే బృహత్కావ్యాన్ని రచించిన ప్రౌఢ కవి శ్రీనాథుడు. వీరి రచనలలో వీరి వ్యక్తిత్వం ప్రతిబింబిస్తుంది. పాండిత్య గరిమతో అచంచల ఆత్మవిశ్వాసం మూర్తిభవించిన నిండైన విగ్రహం వారి రచనలు చదువుతూ ఉంటే గోచరిస్తుంది.
                  </p>
                  <a href="https://te.wikipedia.org/wiki/%E0%B0%B6%E0%B1%8D%E0%B0%B0%E0%B1%80%E0%B0%A8%E0%B0%BE%E0%B0%A5%E0%B1%81%E0%B0%A1%E0%B1%81" class="car-item__btn">మరింత తెలుసుకోవడానికి</a>
                    </div>
                </div>
              </div>
              <div class="car-item car-item--9">
                <div class="car-item__image"></div>
                <div class="car-item__info">
                  <div class="car-item__container">
                  <h1 class="car-item__title">గిడుగు వెంకట రామమూర్తి</h1>
                  <p class="car-item__description">తెలుగులో వాడుక భాషా ఉద్యమ పితామహుడు, గిడుగు వెంకట రామమూర్తి (ఆగష్టు 29, 1863 - జనవరి 22, 1940) . గ్రాంథికభాషలో ఉన్న తెలుగు వచనాన్ని ప్రజల వాడుకభాషలోకి తీసుకు వచ్చి, నిత్య వ్యవహారంలోని భాషలో ఉన్న అందాన్నీ, వీలునూ తెలియజెప్పిన మహనీయుడు. ఆంధ్రదేశంలో వ్యావహారిక భాషోద్యమానికి మూలపురుషుడు.
                  </p>
                  <a href="https://te.wikipedia.org/wiki/%E0%B0%97%E0%B0%BF%E0%B0%A1%E0%B1%81%E0%B0%97%E0%B1%81_%E0%B0%B5%E0%B1%86%E0%B0%82%E0%B0%95%E0%B0%9F_%E0%B0%B0%E0%B0%BE%E0%B0%AE%E0%B0%AE%E0%B1%82%E0%B0%B0%E0%B1%8D%E0%B0%A4%E0%B0%BF" class="car-item__btn">మరింత తెలుసుకోవడానికి</a>
                    </div>
                </div>
              </div>
            </div>
          </div>  
       </div>

       <!-- event importance -->
       <div style="text-align: justify;margin:2% 2%;font-size: 120%;">
        <center><h3 style="color: red;font-weight: 600;">తెలుగు పరిశోధనా సమావేశాలకు పరిశోధనా పత్రాలకు ఆహ్వానం</h3></center>
      <p>అంతర్జాతీయ తెలుగు భాష ఉత్సవాల్లో భాగంగా, తెలుగు భాషా దినోత్సవం సందర్భంగా ఆగస్ట్ 29-30లలో  "తెలుగు పరిశోధన"పై 2023 మధ్యంతర సమావేశాలు ఆచార్య నాగార్జున విశ్వవిద్యాలయం, గుంటూరు లో జరుగుతాయి.                

        ఇందులో ప్రత్యేకంగా తెలుగులో జరిగిన, జరుగుతున్న పరిశోధనల పరిశీలన మరియు చర్చ జరుగుతాయి. ఇకపై తెలుగు పరిశోధన చేయాలి అనుకున్న వారికి మార్గదర్శనం, తెలుగు భాష పరిరక్షణకు, తెలుగు పరిశోధనకు శాస్త్ర సాంకేతిక పరికరాల సహాయం వినియోగం వంటివి  10 వరకు సదస్సులు ఉంటాయి. తెలుగు పరిశోధనా విద్యార్థులు, పరిశోధకులు తమ తమ పత్రాలను సమర్పిస్తారు. ఆచార్యులు ప్రాచార్యులు, తమ సూచనలు సలహాలను అందిస్తారు, మార్గ దర్శనం చేస్తారు. వీరితోబాటు తెలుగు భాషా అభిమానులు, ప్రోత్సాహకులు అందరూ పెద్ద సంఖ్యలో పాల్గొని ఈ కార్యక్రమాలను దిగ్విజయం చేయవలసిందిగా నిర్వాహకులు కోరుతున్నారు.</p>
        <embed class="hide-avvaku" src="call for abstracts telugu conference midterm 2023.pdf" type="application/pdf" width="100%" height="600px" />
        <center><a style="text-decoration: none;
        color: inherit;
        cursor: pointer;" href="call for abstracts telugu conference midterm 2023.pdf" download><i class="fa-solid fa-arrow-up fa-rotate-180"></i>   Download PDF</a></center>




      </div>


    
       <!-- <input type="color" name="" id=""> -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script src="script.js"></script>
</body>

</html>
