<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color: chartreuse;margin-top: 30vh;">మీరు విజయవంతంగా నమోదు చేసుకున్నారు!!!</h1>
        <a href="/">వెబ్‌సైట్‌కి తిరిగి వెళ్లడానికి ఇక్కడ క్లిక్ చేయండి</a>
    </center>

</body>
</html>