.endharo{
    color: rgb(187, 0, 255);
    font-weight: 700;
}
.invi{
    text-align:left;
    margin:2% 2%;
    font-size: 120%;
}
.pic2,.pic3{
    width: 100px;
}
.invi1{
    text-align: center;margin:2% 10%;font-size: 150%;
}

.invi1_b{
    text-align:left;margin:2% 2%;line-height: 1.5 !important; font-size: 120%;font-weight: 600;
}
.invi1_f{
    text-align: center;margin: 2% 2%;color: red;font-weight: 600;font-size: 100%;
}


table{
    width: 10% !important;
}
.d1{
  width: 70% !important;
  font-size: 140%;

  border-color: black !important;
}

@media (max-width:560px) {
    .d1{
        font-size: 80%;
    }
    #einfo9,#einfo12,#einfo15{
        height: fit-content !important;
    }
    .ima{
        width: 100% !important;
    }
    .fp{
        font-size: 100% !important;
    }
    
}
td,th{
    border-width: 3px !important;
}


#einfo9,#einfo10,#einfo11,#einfo12,#einfo13,#einfo14,#einfo15{
    display:none;
    height: 80vh;
    width: 90%;
    z-index: 4;
    position: fixed;
    background-color: rgb(223, 223, 223);
    color: #000000;
    overflow-y: scroll;
    overflow-x: hidden ;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow:5px 5px 5px #000000 ;
    /* padding:  !important; */
}

.eb{
    position: absolute;
    width: 3.6%;
    right: 10px;
    top: 10px;
    background-color:rgba(0, 0, 0, 1) !important;
    border: 0cm;
    padding: 0%;
}
.fp{
    font-size: 200%;
}

::-webkit-scrollbar-track {
    background:rgb(115, 115, 115) !important; 
  }


@media (max-width:360px) {
    .endharo{
        font-weight: 650;
        font-size: 100%;
    } 
    .pic4{
        width: 95vw;
    }
    .pic1{
        width:130px;
        margin-left: -45%;
    }
    .pic2,.pic3{
        width: 40px;
    }
    .invi1{
        text-align: center;margin:2% 2%;font-size: 75%;
    }
    .invi1_h{
        margin-top: 5%;
        font-size: 90%;
    }
    .invi1_s{
        /* margin-top: 5%; */
        margin: 0 5%;
        font-size: 80%;
    }
    .invi1_b{
        text-align:left;margin:2% 2%;line-height: 1.5 !important; font-size: 80%;font-weight: 600;
    }
    .invi1_f{
        text-align: center;margin: 2% 2%;color: red;font-weight: 600;font-size: 90%;
    }
}